﻿<%@ Page Language="C#" %>

<script runat="server">
    
    private void Page_Load(object sender, System.EventArgs e)
    {
       RSSManager newsRSS = new RSSManager();
       newsRSS.getLatestNews("0", "5"); 
       
    }    
</script>