<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HeaderHP.ascx.cs" Inherits="Trimble.Presentation.UI.Sublayouts.Trimble.Common.Header.HeaderHP" %>
    <div class="tag-line"><span class="orange">Transforming </span><span class="white">the way the world works</span></div>
  


