<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Header-Orig.ascx.cs" Inherits="Trimble.Presentation.UI.Sublayouts.Trimble.Common.Header.Header" %>
  <div style="height:36px;float:right; width:200px;"></div>
  <div id="logo">
            <sc:Link ID="lnkHomeLink" runat="server" Field="HomeLink" DisableWebEditing="false" >                   
                    <sc:fieldrenderer runat="server" id="frSiteLogo" FieldName ="SiteLogo" DisableWebEditing="true"></sc:fieldrenderer>                 
            </sc:Link>
      
        <br />
       <%-- <sc:fieldrenderer runat="server" id="frTagLine" FieldName ="Tagline"></sc:fieldrenderer>--%>
       <div class="tag-line"><span class="orange">Transforming </span><span class="blue">the way the world works</span></div>
  </div> 


