﻿<%@ Page Language="C#" AutoEventWireup="True" CodeBehind="InstallTDSPackage.aspx.cs" Inherits="Trimble.Presentation.UI.sitecore.admin.InstallTDSPackage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Label ID="lblError" runat="server"></asp:Label>
    <asp:Panel ID="pnlOutput" runat="server"></asp:Panel>
    </form>
</body>
</html>
