﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProductListingModuleSet1.ascx.cs" Inherits="Trimble.Presentation.UI.Sublayouts.Trimble.Content.Products.ProductListingModuleSet1" %>

<%@ Register TagPrefix="uc" TagName="BaseListingModule" Src="~/Sublayouts/Trimble/Content/Products/BaseListingModule.ascx" %>


<uc:BaseListingModule id="ProdListing" runat="server" />



