﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GeneralText.ascx.cs" Inherits="Deloitte.SC.UI.Sublayouts.Framework.GeneralText" %>

<sc:FieldRenderer runat="server" id="frGeneralText" FieldName="GeneralText" />
