﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteTitle.ascx.cs" Inherits="Deloitte.SC.UI.Sublayouts.Framework.SiteTitle" %>

<sc:FieldRenderer runat="server" id="frSiteTitle" FieldName="SiteTitle" />