﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Title.ascx.cs" Inherits="Deloitte.SC.UI.Sublayouts.Framework.Title" %>

<sc:FieldRenderer runat="server" id="frTitle" FieldName="Title" />
