.cbp-hrmenu {
	width: 100%;
	/*margin-top: 2em;*/
	border-bottom: 0px solid #47a3da;
	position: absolute;
	/*bottom:0px;*/
	z-index: 999999;
}
/* general ul style */

.cbp-hrmenu > ul {
	width: 100%;
	display: block;
	text-align: center;
}
.cbp-hrmenu > ul > li {
	border: 0px solid #ff0;
	margin: 0px auto;
}
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/* first level ul style */
/*.cbp-hrmenu > ul,*/
.cbp-hrmenu .cbp-hrsub-inner {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	/*padding: 0 1.875em;*/
	padding: 0px;
	border: 0px solid #000;
}
.cbp-hrmenu > ul > li {
	display: inline-block;
}
.cbp-hrmenu > ul > li > a {
	/*font-weight: 700;*/
	padding: 1em 2em;
	color: #fff;
	display: block;
	font-weight: 300px;
}
.cbp-hrmenu > ul > li > a:hover {
	/*color: #47a3da;*/
	color: #fff;
}
.cbp-hrmenu > ul > li.cbp-hropen a, .cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #fff;
	background: #009ad9;
}
/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #009ad9;
	width: 100%;
	left: 0;
	opacity: .96;
}
.cbp-hropen .cbp-hrsub {
	display: block;
	padding-bottom: 1.5em;
}
.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 27%;
	float: left;
	padding: 0 2em 0;
}
.cbp-hrmenu .cbp-hrsub-inner:before, .cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}
.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}
.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}
.cbp-hrsub h4 {
	color: #afdefa;
	padding: 0.6em 0 0.1em 0;
	margin: 0;
	font-size: 160%;
	font-weight: 100;
}
.cbp-hrmenu .cbp-hrsub-inner > div {
	text-align: left;
}
.cbp-hrmenu .cbp-hrsub-inner > div > ul {
	padding-left: 1em;
}
#menu-icon {
	display: none;
	width: 40px;
	height: 40px;
 background-image:!important;
	float: right;
	margin-right: 20px;
	margin-top: 3px;
}
.menu_show {
	background: url('/html/images/icon.png') no-repeat center;
}
.menu_hide {
	background: url('/html/images/icon-close.png') no-repeat center;
}
a:hover#menu-icon {
	border-radius: 10px;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) {
.cbp-hrmenu {
	font-size: 80%;
}
.menuContainer {
	margin-top: 4px;
}
.cbp-hrmenu .cbp-hrsub {
	padding-left: 0px;
}
.cbp-hrsub h4 {
	font-size: 105%;
	/*padding: 1em 0 0.3em;*/
	line-height: 18px;
}
.topNavContainer {
	height: 55px;
}
.center-content {
	width: 100%;
}
.sidebar-container {
	display: none;
}
.center-right-content {
	width: 100%;
	margin-left: 10px;
}
.mainHeadContainer {
	width: 100%;
}
.container, #container_header {
	width: 100%;
}
.main_content {
	width: 95%;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}
.top_links {
	display: none !important;
}
.container_footer .container {
	width: 100%;
}
.footer_heading {
	width: 16%;
	padding-left: 15px;
}
.footer_links {
	width: 100%;
}
.footer_menu {
	padding-left: 15px;
}
.socialicons-container {
	padding-right: 15px;
}
#logo {
	float: none;
	width: 100%;
	height: 63px;
	margin: 0px auto;
	padding: 10px 0 0 15px;
}
.breadcrumb {
	display: none !important;
}
.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 25%;
}
.topNavContainer {
	background-image: none;
}
}

@media screen and (max-width: 43em) {
#menu-icon {
	display: inline-block;
}
#mainNav {
	display: none;
}
.plus {
	background-image: url(/html/images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	float: right;
	width: 10px;
	height: 10px;
	margin-top: 10px;
}
.minus {
	background-image: url(/html/images/minus.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	float: right;
	width: 10px;
	height: 10px;
	margin-top: 10px;
}
.cbp-hrmenu {
	font-size: 120%;
	border: none;
	background-color: #fff;
	margin-top: 10px;
}
a {
	text-align: left;
	text-decoration: none;
}
.center-content {
	width: 100%;
}
.sidebar-container {
	display: none;
}
.center-right-content {
	width: 100%;
	margin-left: 10px;
}
.mainHeadContainer {
	width: 100%;
}
.container, #container_header {
	width: 100%;
}
#logo {
	float: none;
	width: 100%;
	height: 63px;
	margin: 0px auto;
	padding: 10px 0 0;
}
.container_footer {
	display: none !important;
}
.top_links {
	display: none !important;
}
.breadcrumb {
	display: none !important;
}
.main_content {
	width: 90%;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}
#logo img {
	padding-left: 10px;
}
.cbp-hrmenu > ul > li > a {
	display: block;
	background-color: #005f9e;
	color: #FFFFFF;
	padding: .6em 1.5em;
}
.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 100%;
	float: none;
	padding: 0 4em;
}
.cbp-hrmenu > ul > li.cbp-hropen > a {
	color: #fff;
	background: #005f9e;
}
.cbp-hrmenu > ul > li {
	display: block;
	border-bottom: 2px solid #009ad9;
	border-top: 2px solid #009ad9;
	background-color: #005f9e;
}
.cbp-hrmenu > ul > li > a {
	display: block;
	background-color: #005f9e;
	color: #FFFFFF;
}
.cbp-hrmenu .cbp-hrsub {
	position: relative;
	padding-bottom: .5em;
}
.cbp-hrsub h4 {
	padding-top: 0.6em;
}
.topNavContainer {
	background-image: none;
}
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #fff;
	background: #ffbe00;
}
.bottom_footer {
	text-align: center;
}
.socialicons-container {
	float: none;
	clear: both;
	margin-top: 20px;
}
.footer_menu {
	float: none;
}
.sitemap {
	font-size: 9px;
	padding-right: 8px;
}
.searchIcon {
	display: none;
}
.searchIcon {
	display: none;
}
.menuContainer {
	margin-top: 40px;
}
}

@media screen and (max-width: 36em) {
.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 100%;
	float: none;
	padding: 0 2em;
}
}
