a, a:link, a:active, a:visited, a:hover {
	color: inherit;
	text-decoration: none; /*Leo - Underline*/
}
nav:not(.mm-menu) {
	display: none;
}
.header, .content, .footer {
	text-align: center;
}
.header, .footer {
	background: #00437b;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	line-height: 40px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 0 15px;
}
.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a {
	display: block;
	width: 28px;
	height: 18px;
	padding: 11px;
	/*position: absolute;*/
	top: 0;
	left: 0;
	float: right;
}
.header a:before, .header a:after {
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}
.header a span {
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.content {
	padding: 150px 50px 50px 50px;
}
.topNavContainer{
	background:none;}

.lhs-menu{
	display:none;
	}

@media screen and (max-width: 52.75em) {
	.lhs-menu{
		display:inherit;
		float:left;
	position:fixed;
	/*color:#faa200;*/
	color:#00437b;
	top:30%;}
	.industriesMainContentBorder{
		height:45px;}
		.industry{
			padding-left:30px;
			padding-right:15px;}
#container_top {
	width: 100%;
}
.menuContainer {
	margin-top: 25px;
}
.listProdWidth {
	height: auto !important;
}
.tag-line {
	font-size: 14px;
	padding-left: 20px;
}
.topNavContainer {
	height: 40px;
}
.center-content {
	width: 97%;/*margin: 0px;*/
}
.sidebar-container {
	display: none;
}
.center-right-content {
	width: 100%;
	margin-left: 10px;
}
.mainHeadContainer {
	width: 100%;
}
.container, #container_header {
	width: 100%;
}
.main_content {
	
	float: left;
	/*width: 100%;padding-left: 0px;
	padding-top: 10px;
	padding:12px 20px 0 30px;*/
}
#container_body{
	width:100%;}

.top_links {
	display: none !important;
}
.container_footer .container {
	width: 100%;
}
.footer_heading {
	width: 17%;
	padding-left: 15px;
}
.footer_links {
	width: 100%;
}
.footer_menu {
	padding-left: 15px;
}
.socialicons-container {
	padding-right: 15px;
}
.breadcrumb {
	display: none !important;
}
.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 25%;
}
#container_content {
	width: 100%;
}
#container_header {
	padding-left: 0px !important;
}
.content1 {
	float: left;
	width: 28%;
	height: 228px;
	margin-left: 12px;
	box-shadow: 0px 10px 10px rgb(218, 212, 212);
	padding-left: 20px;
}
.headerContainer {
	width: 95% !important;
	margin-left: 0px !important;
}
.completeWidth {
	width: 100% !important;
}
.trimbleNewsHeader {
	font-size: 16px !important;
	width: 142px !important;
}
.marginLeft0 {
	margin-left: 10px !important;
}
table {
	width: 100%;
}
.bizLineContainer {
	width: 96% !important;
	padding-top: 0px !important;
}
.industryleft {
	width: 100%;
}
div.tmpSlide {
	width: 100%;
	height: auto;
}
#container_innerbanner {
	width: 100%;
}
.containerWidth {
	width: 100% !important;
}
.biz_lineLeft {
	width: 95% !important;
	padding-left: 15px;
}
.bizLineContent2 {
	width: 48%;
}
#container_banner {
 width:100% !important!;
}
.bizLineResourcesContainer {
	width: 25%
}
/*.paddIndustryTitle {
	padding-left: 15px !important;
}*/
.bannerText {
	left: 0px !important;
}
.main_content_border {
	width: 100%;
	margin-top:2px;
}
#rhs_container {
	width: 95%;
	margin-left: 0px;
}
}

@media screen and (max-width: 43em) {
	.lhs-menu{
			top:50%;}
#mainNav {
	display: none;
}
.content1 {
	float: none;
	width: 92%;
	height: auto;
	margin-left: 12px;
	box-shadow: 0px 10px 10px rgb(218, 212, 212);
	padding-left: 0px;
}
#container_content {
	width: 100%;
}
.allinone_thumbnailsBanner {
	background-size: 100%;
}
.allinone_thumbnailsBanner_text_line {
	display: none;
}
.thumbsHolderWrapper {
	display: none;
	background-image: none !important;
}
.headerContainer {
	width: 98% !important;
	margin-left: 0px !important;
}
.marginLeft0 {
	margin-left: 10px !important;
}
.tag-line {
	font-size: 12px;
	padding-left: 15px !important;
}
#container_header {
	padding-left: 0px !important;
}
.bannerControls {
	display: none;
}
.content1_inner {
	margin-left: 15px !important;
}
.completeWidth {
	width: 100% !important;
}
.contentLeft {
	width: 100%;
}
.contentRight {
	width: 100% !important;
	text-align: center;
	/*background-color:#E8E8E8; margin-bottom:30px;*/
	padding: 20px;
	padding-left: 0px;
	margin-left: 0px;
}
.industry .contentRight {
	width: 80% !important;
}
.categoryTitleHeading {
	width: 100%;
}
.listProdWidth {
	width: 90% !important;
	height: auto;
}
.categoryProducts.productSet4.listProdWidth a > img {
	width: 100%;
	height: auto !important;
}
.plus {
	background-image: url(/html/images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	float: right;
	width: 10px;
	height: 10px;
	margin-top: 10px;
}
.minus {
	background-image: url(/html/images/minus.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	float: right;
	width: 10px;
	height: 10px;
	margin-top: 10px;
}
.cbp-hrmenu {
	font-size: 120%;
	border: none;
	background-color: #fff;
	margin-top: 10px;
}
a {
	/*text-align: left;*/
	text-decoration: none;
}
.center-content {
	width: 100%;
}
.sidebar-container {
	display: none;
}
.center-right-content {
	width: 100%;
	margin-left: 10px;
}
.mainHeadContainer {
	width: 100%;
}
.container, #container_header {
	width: 100%;
}
#logo {
	float: none;
	width: 100%;
	height: 63px;
	margin: 0px auto;
	padding: 10px 0 0;
}
.container_footer {
	display: none !important;
}
.top_links {
	display: none !important;
}
.breadcrumb {
	display: none !important;
}
.main_content {
	width: 85%;
	float: left;
	/*padding-left: 20px;*/
	padding-top: 10px;
}
#logo img {
	padding-left: 10px;
}

.topNavContainer {
	background-image: none;
	background:none;
	height: 40px;
}
.bottom_footer {
	text-align: center;
}
.socialicons-container {
	float: none;
	clear: both;
	margin-top: 20px;
}
.footer_menu {
	float: none;
}
.sitemap {
	font-size: 9px;
	padding-right: 8px;
}
.searchIcon {
	display: none;
}
.searchIcon {
	display: none;
}
.menuContainer {
	margin-top: 40px;
}
.bizLineResourcesContainer {
	width: 100%;
	margin-top: 20px;
}
.bizLineContainer {
	width: 90% !important;
	padding-top: 0px !important;
}
.industryleft {
	width: 100%;
}
div.tmpSlide img {
	width: 100%;
	height: auto;
}
div#tmpSlideshow {
	height: auto !important;
}
#container_innerbanner {
	width: 100%;
}
.containerWidth {
	width: 100% !important;
}
.biz_lineLeft {
	width: 90% !important;
	padding-left: 15px;
}
.bizLineContent2 {
	width: 100%;
	padding-left: 10px;
}
.main_content h3 {
	font-size: 20px !important;
}
#rhs_container {
	width: 95%;
	margin-left: 0px;
}
.industry_tab {
	padding-left: 0px;
}
/*.industry{
	padding-left:15px;}*/
#container_body {
	width: 100% !important;
}
}

@media screen and (max-width: 36em) {

}
