﻿.menuvideo {
	width: 100%;
	height: 390px;
}
.formmenu input {
	width: 94%;
	height: 28px;
	/*padding: 0 10px;*/
	margin: 0 0 15px 0;
	font-size: 12px;
	color: #2b2b2b;
	/*border-radius: 0 12px 0 0;*/
	border-radius: 0px;
	text-indent: 5px;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	border-color: #666;/*border: 1px solid #999;*/
}
.formmenu:before {
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	top: 16px;
	right: 20px;
	text-rendering: auto;
	content: "\f002";
	color: #999;
}
.slideMenuSplitter {
	border-left: 1px solid #222;
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
}
.slideMenuSplitter:first-child {
	border-left: 0px solid #222;
}

.CTAcontainer
{
    background: rgba(255, 255, 255, 0.80);
    display:inline-block;
}

h1.banner {
	padding: 25px 20px 25px 20px;
	/*margin: 0px 10%;*/
	font-size: 26px;
	text-decoration: none;
	/*background-color: #494949;*/
	/*background: rgba(40, 40, 40, 0.7);*/
	color: #005497;
	/*
	background-color: #ffffff;
	background: rgba(255, 255, 255, 0.80);
    */
	border-radius: 0 0px 0 0;
	text-rendering: geometricPrecision;
	line-height: 25px;
	text-transform: uppercase;
}
p.bannerinnertxt {
	padding: 5px 20px 25px 20px;
	margin: 0px 10%;
	font-size: 18px;
	text-decoration: none;
	/*background-color: #494949;*/
	/*background: rgba(40, 40, 40, 0.7);*/
	color: #666666;
	/*
	background-color: #ffffff;
	background: rgba(255, 255, 255, 0.80);
*/
	line-height: 22px;
}
a, a:link, a:active, a:visited {
	color: inherit;
	text-decoration: none; /*Leo - Underline*/
}
a:hover {
	color: #faa200;
}
.hamburgerMenu {
	float: right;
	text-transform: uppercase;
	line-height: 30px;
/*padding-right: 50px;*/}
.padmenu2 {
	text-transform: uppercase;
	font-size: 20px; 
	/*padding-right: 20px;
	padding-top: 12px;
	float:right;
	width: 93%;*/
	padding-top: 8px;
	list-style: none;
}
.menupad {
	padding-left: 15px;
}
.roundborder {
	border: 1px solid #297fc6;
	border-radius: 4px;
	height: 30px;
	/*width: 110px;*/
	float: right;
	margin-top: 12px;
	box-shadow: 1px 1px 0px #333;
	margin-left: 10px;
	display:none;
}
nav:not(.mm-menu) {
	display: none;
}
.header, .content, .footer {
	text-align: center;
}
.header, .footer {
	/*background: #00437B;*/
	background: #005F9F; /*luna 01/21/21*/
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	/*line-height: 40px;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	padding: 5px 15px;
}
.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a {
	display: block;
	/*height: 18px;
	padding: 11px;
	width: 28px;
	padding: 6px 11px;
	position: absolute;*/
	top: 0;
	left: 0;
	float: left; /*luna 01/14/2021*/
	padding-right: 10px;
}
.header a:before, .header a:after {
	content: none;
	display: block;
	background: #fff;
	height: 0px;
}
.header a span {
/*background: #fff;
	display: block;
	height: 0px;
	margin: 6px 0;*/
}
.content {
	padding: 150px 50px 50px 50px;
}
.topNavContainer {
	background: none;
}
.lhs-menu {
	display: none;
}
.banner_plusBG {
	background: url(/html/images/header_cross.png) no-repeat;
	width: 100%;
	min-height: 28%;
	float: right;
	z-index: 1;
	position: absolute;
	background-position: top right;
	background-size: 45%;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.bannerwidth {
	width: 100%;
}

@media screen and (max-width: 52.75em) {
a, a:link, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}
.bannerwidth {
	width: 150%;
}
.carousel-caption {
/*display: none;*/}
h1.banner {
	padding: 25px 10px 25px 10px;
	margin: 0px 5%;
	font-size: 22px;
	text-decoration: none;
	/*background-color: #494949;*/
	/*background: rgba(40, 40, 40, 0.7);*/
	color: #005497;
	/*
	background-color: #ffffff;
	background: rgba(255, 255, 255, 0.80);
    */
	border-radius: 0 0px 0 0;
	text-rendering: geometricPrecision;
	line-height: 25px;
	text-transform: uppercase;
}
p.bannerinnertxt {
	padding: 5px 10px 25px 10px;
	margin: 0px 5%;
	font-size: 15px;
	text-decoration: none;
	/*background-color: #494949;*/
	/*background: rgba(40, 40, 40, 0.7);*/
	color: #005497;
	/*
	background-color: #666666;
	background: rgba(255, 255, 255, 0.80);
    */
	line-height: 22px;
}
.btn-lg, .btn-group-lg>.btn {
	padding: 5px 5px !important;
	font-size: 12px !important;
	line-height: 1.33;
	/*border-radius: 6px*/
	border-radius: 0 0px 0 0 !important;
}
.padmiddle {
	display: none;
}
.padmenu2 {
	font-size: 13px;
}

#logo {
	float: none;
    width: 0;
    margin: 0px auto;
    padding: 5px 0 0 25px;
}
.hamburgerMenu {
	display: none;
}
.roundborder {
	border: 1px solid #297fc6;
	border-radius: 4px;
	height: 30px;
	width: 40px;
	float: right;
	box-shadow: 1px 1px 0px #333;
	display:block;
	margin-top: 4px;
}

.header
{
    height:50px;
}

/*.highlights, .industry_tab{
	padding-left:45px;}*/
	
/*.lhs-menu{
		display:inherit;
		float:left;
	position:fixed;
	color:#faa200;
	color:#666;
	top:30%;
	padding-left:15px;}*/
.lhs-menu {
	top: 30%;
	border-radius: 4px;
	color: #fff;
	border: 1px solid #297fc6;
	margin: 0 10px 0 0;
	/*width: 8px;
	padding: 2px 5px 0 5px;*/
	float: left;
	position: fixed;
	display: inherit;
	padding-left: 4px;
	width: 20px;
	background-color: #00437B;
	z-index: 1;
}
.industriesMainContentBorder {
	height: 45px;
}
.industry {
	padding-left: 35px;
	padding-right: 15px;
}
#container_top {
	width: 100%;
	padding: 10px 10px 15px 0px
}
.menuContainer {
	margin-top: 25px;
}
.listProdWidth {
	height: auto !important;
}
.tag-line {
	font-size: 14px;
	padding-left: 20px;
}
/*.topNavContainer {
	height: 40px;
}*/
.center-content {
	width: 97%;/*margin: 0px;*/
}
.hideLHS {
	display: none;
}
.sidebar-container {
	margin-top: 0px !important;
}
.center-right-content {
	width: 100%;
	margin-left: 10px;
}
.mainHeadContainer {
	width: 100%;
}
.container, #container_header {
	width: 100%;
}
.main_content {
	float: left;
	/*padding-left: 30px;*/
	width: 90%;/*width: 100%;padding-left: 0px;
	padding-top: 10px;
	padding:12px 20px 0 30px;*/
}
.leftContentContainer {
	position: relative; 
	z-index: 1;
}
#container_body {
	width: 100%;
}
.top_links {
	display: none !important;
}
.container_footer .container {
	width: 100%;
}
.footer_heading {
	width: 14%;
	margin-left: 5%;
	font-size: 16px;
	margin-right: 0;
	border-right: 0px solid #292A2C;
	height: auto;
}
.footerli {
	font-size: 13px;
	line-height: 25px !important;
}
.margl10 {
	margin-left: 5% !important;
}
.footer_links {
	width: 100% !important;
}
.footer_menu {
	padding-left: 15px;
}
.socialicons-container {
	padding-right: 0px !important;
}
.breadcrumb {
	display: none !important;
}
.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 25%;
}
#container_content {
	width: 100%;
}
#container_header {
	padding-left: 0px !important;
}
.content1 {
	float: left;
	width: 28%;
	height: 228px;
	margin-left: 12px;
	box-shadow: 0px 10px 10px rgb(218, 212, 212);
	padding-left: 20px;
}
.headerContainer {
	width: 95% !important;
	margin-left: 0px !important;
}
.completeWidth {
	width: 100% !important;
}
.trimbleNewsHeader {
	font-size: 16px !important;
	width: 142px !important;
}
.marginLeft0 {
	margin-left: 10px !important;
}
table {
	width: 100%;
}
.bizLineContainer {
	width: 90% !important;
	/*padding-top: 0px !important;*/
}
.industryleft {
	width: 75%;
}
div.tmpSlide {
	width: 100%;
	height: auto;
}
#container_innerbanner {
	width: 100%;
}
.containerWidth {
	width: 100% !important;
}
.biz_lineLeft {
	width: 95% !important;/*padding-left: 15px;*/
}
.bizLineContent2 {
	/*width: 48%;*/
	
}
#container_banner {
 width:100% !important;
}
.bizLineResourcesContainer {
	width: 25%
}
/*.paddIndustryTitle {
	padding-left: 15px !important;
}*/
.bannerText {
	left: 0px !important;
	top:30px;
}
.main_content_border {
	width: 100%;
	margin-top: 2px;
}
#rhs_container {
	width: 95%;
	margin-left: 0px;
}
.container25 {
	padding-left: 25px;
	float: left;
}
.video-container {
	width: 93% !important;
}
.prod_slides{
	margin-left:40px !important;
}
.bizLineTabPanel{
	width: 100% !important;}
	.innertransport{
		width: 90%;}
		.bannercontentRB{
		    margin-top: 150px !important;
    margin-left: 450px !important;} 
	
	div#tmpSlideshow.bigger-banner{
		height: auto;}
		
		.featuredProduct {
	display:none;
	}
	.full-width-blue-container{
		background-color: #fff;}
		div#tmpSlideshow{
			height: auto;
			}
	
}
@media screen and (max-width: 43em) {
	.full-width-blue-container{
		background-color: none;}
	
	.bannercontentRB{
		display:none;}
		.categoryProducts{
			    width: 90% !important;
				    margin-bottom: 30px;}
					.productsContainer{
						margin: 0 !important;}
						.contentLeftWidth {
    width: 100% !important;}

.bannerwidth {
	width: 200%;
}
.featuredProduct{
	display:none;
	}
.carousel-caption {
/*display: none;*/}
h1.banner {
	padding: 25px 10px 25px 10px;
	margin: 0px 5%;
	font-size: 15px;
	text-decoration: none;
	/*background-color: #494949;*/
	/*background: rgba(40, 40, 40, 0.7);*/
	color: #005497;
	/*background-color: #ffffff;
	background: rgba(255, 255, 255, 0.80);*/
	border-radius: 0 0px 0 0;
	text-rendering: geometricPrecision;
	line-height: 16px;
	text-transform: uppercase;
}
p.bannerinnertxt {
	padding: 5px 8px 25px 10px;
	margin: 0px 5%;
	font-size: 10px;
	text-decoration: none;
	/*background-color: #494949;*/
	/*background: rgba(40, 40, 40, 0.7);*/
	color: #666666;
	/*background: rgba(255, 255, 255, 0.80);*/
	line-height: 14px;
}
.banner_plusBG {
	background-size: 60% !important;
}
.carousel-caption {
	bottom: 6px !important;
}
.carousel-indicators {
	bottom: 2px !important;
}
.header a {
	padding-right: 0px !important;
}
.padmiddle {
	display: none;
}
.hamburgerMenu {
	display: none;
}
.roundborder {
	border: 1px solid #297fc6;
	border-radius: 4px;
	height: 30px;
	width: 40px;
	float: right;
	margin-top: 4px;
	box-shadow: 1px 1px 0px #333;
	display:block;
}
.header
{
    height:50px;
}

.footer {
	height: 70px;
}
.lhs-menu {
	top: 50%;
	margin-left: 2px !important;
}
#mainNav {
	display: none;
}
.content1 {
	float: none;
	width: 92%;
	height: auto;
	margin-left: 12px;
	box-shadow: 0px 10px 10px rgb(218, 212, 212);
	padding-left: 0px;
}
#container_content {
	width: 100%;
}
.allinone_thumbnailsBanner {
	background-size: 100%;
}
.allinone_thumbnailsBanner_text_line {
	display: none;
}
.thumbsHolderWrapper {
	display: none;
	background-image: none !important;
}
.headerContainer {
	width: 98% !important;
	margin-left: 0px !important;
}
.marginLeft0 {
	margin-left: 10px !important;
}
.tag-line {
	font-size: 12px;
	padding-left: 15px !important;
}
#container_header {
	padding-left: 0px !important;
}
.bannerControls {
	display: none;
}
.content1_inner {
	margin-left: 15px !important;
}
.completeWidth {
	width: 100% !important;
}
.contentLeft {
	width: 100%;
}
.contentRight {
	width: 95% !important;
	text-align: left;
	/*background-color:#E8E8E8; margin-bottom:30px;
	padding: 20px;
	padding-left: 35px;*/
	margin-left: 0px;
	padding-bottom: 20px;
	padding-left: 0;
}
.industry .contentRight {
	width: 100% !important;
}
.categoryTitleHeading {
	width: 100%;
}
.listProdWidth {
	width: 90% !important;
	height: auto;
}
.categoryprod_slidess.productSet4.listProdWidth a > img {
	width: 100%;
	height: auto !important;
}
.plus {
	background-image: url(/html/images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	float: right;
	width: 10px;
	height: 10px;
	margin-top: 10px;
}
.minus {
	background-image: url(/html/images/minus.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	float: right;
	width: 10px;
	height: 10px;
	margin-top: 10px;
}
.cbp-hrmenu {
	font-size: 120%;
	border: none;
	background-color: #fff;
	margin-top: 10px;
}
a {
	/*text-align: left;*/
	text-decoration: none;
}
.center-content {
	width: 100%;
}
.hideLHS {
	display: none;
}
.sidebar-container {
	margin-top: 0px !important;
}
.center-right-content {
	width: 100%;
	margin-left: 0px;
}
.mainHeadContainer {
	width: 100%;
}
.container, #container_header {
	width: 100%;
}
#logo {
	float: none;
	width: 100%;
	height: 63px;
	margin: 0px auto;
	padding: 5px 0 0 15px;
	
}
.container_footer {
	display: none !important;
}
.top_links {
	display: none !important;
}
.breadcrumb {
	display: none !important;
}
.main_content {
	width: 90%;
	float: left;
	/*padding-left: 35px;*/
	padding-top: 10px;
}
#logo img {
	padding-left: 10px;
}
.topNavContainer {
	background-image: none;
	background: none;
	/*height: 40px;*/
}
.bottom_footer {
	text-align: center;
}
.socialicons-container {
	float: none;
	clear: both;
	margin-top: 20px;
}
.footer_menu {
	float: none;
}
.sitemap {
	font-size: 9px;
	padding-right: 8px;
}
.searchIcon {
	display: none;
}
.menuContainer {
	margin-top: 40px;
}
.bizLineResourcesContainer {
	width: 100%;
	margin-top: 20px;
}
.bizLineContainer {
	width: 85% !important;
	/*padding-top: 0px !important;*/
}
.industryleft {
	width: 100%;
}
div.tmpSlide img {
	width: 100%;
	height: auto;
}
div#tmpSlideshow {
	height: auto !important;
}
#container_innerbanner {
	width: 100%;
}
.containerWidth {
	width: 100% !important;
}
/*.biz_lineLeft {
	width: 90% !important;
	padding-left: 15px;
}*/
.bizLineContent2 {
	width: 100%;
	padding-left: 10px;
}
.main_content h3 {
	font-size: 20px !important;
}
#rhs_container {
	width: 95%;
	margin-left: 0px;
}
.industry_tab {
	padding-left: 0;
}
/*.industry{
	padding-left:15px;}*/
.industrybox {
	width: 85%;
}
#container_body {
	width: 100% !important;
}
.video-container {
	width: 90% !important;
}

.prod_slides {
	
	z-index:1;
	margin-top:20px !important;
	margin-bottom:10px !important;
	border:1px solid #C2C2C2;
}
.highlights{
	margin-bottom:0 !important;}
.higlightsWidth {
	width: 90% !important;
	border-right: 0px solid #f2f2f2;
}
.hideONmob {
	display: none;
}
.TabbedPanelsTabSelected, .TabbedPanelsTab, .TabbedPanelsTab p, .TabbedPanelsTab span{
	width:auto;
}
.TabbedPanelsTab, .TabbedPanelsTabSelected {
	font-size:14px !important;
}
.custLoginContainer {
	float:left !important;
	/* added by JS 6-11-2019 */
	width: 100%;
    margin-bottom: 10px;
	margin-top: -5px !important;
}
.innertransport {
	width: 85%;
}	
	.middle1 {
    width: 100%;
	margin-left: 0px !important;
	
	}
	.middle-test{
		margin-top:0px;}
	
	#transport_middle{
		width:100%;
		border-radius: 0px;
		}
		.prodFamilySet3Container{
			width: 95%;
	height: auto;
	margin-right: 0;
			}
			.prodFamilySet3Content{
				min-height:auto !important;}
				.leftContentContainer .contentLeft {
    border-right: #f2f2f2 0px solid;
}
.supportproducts{
	    width: 95%;
	}
	.tabcontent_img, .tabcontent_img > img, .tabcontent_img a img{
		width:95% !important;
		height: auto;
	}
	.product_detail{
		margin-top: 0 !important;
		padding-left: 35px;
		}
	
}

@media screen and (max-width: 36em) {
	.prod_slides{
		margin-left:35px !important;}
		
	.prod_slides a.light-box img{
	width:260px !important;
	height:260px !important;}
	.prod_img img{
		width:50px;
		height:50px;}
		.prod_slides .light-box.cboxElement > span{
			top:242px !important;}
			.prod_slides .prod_img > img{
				margin-right:14px !important;
				margin-top: 8px !important}
				/*.highlights, .industry_tab{
					padding-left:35px !important;}*/
.menuvideo {
	width: 100%;
	height: 210px;
}
.btn-lg, .btn-group-lg>.btn {
	padding: 5px 5px !important;
	font-size: 11px !important;
	line-height: 1.33;
	/*border-radius: 6px*/
	border-radius: 0 0px 0 0 !important;
}
}
