﻿	.drpContainer{background-color:#ececec; padding:5px;; text-align:right; display:block; width:680px; }
	.csList{margin-top:10px; width:100%;}
	#divRegion, #divMarket, #divProduct, #divLanguage{display:block;margin-bottom:5px;}
	.csContent {font-family:Verdana, Geneva, sans-serif; font-size:8pt;}
	.tdThumb { width: 120px; padding:8px; vertical-align:top; }
	.csThumb { width: 113px; border:none; padding: 5px 0 0 0; }
	.tdDetails { vertical-align:top; padding: 0 4px 15px 4px; border-left:1px solid #ccc; }
	.csTitle { font-size:14px; font-weight:bold; }
	.csDescription { padding: 3px 0 0 0; font-size:9pt;}
	.tdDetails{padding-top:10px; border-width:0px;}