.categoryTitles {
	/*width: 104% !important; JM 12/20/2020*/
}

.scLooseFrameZone.scEnabledChrome {
	display: inline !important;
}

.categoryProducts {
	width: 43%;
}
.middle1 {
	float: none !important;
	display: inline-block !important; 
}
body .scWebEditInput {
	display: inline !important;
}
div#tmpSlideshow, div#tmpSlideshow.bigger-banner{
	height: auto !important;
}

/*.industry_tab .bizLineContent2{
	display: inline-block !important;
    float: none !important;
    width: 72% !important;
}

.industry_tab .tabcontent_img{
    float: none !important;
    display: inline-block !important;
}

.industry_tab .industry_tab{
    display: inline-block !important;
}

.industry_tab .TabbedPanels{
    float: none !important;
}*/