/* Page */

.sidebar-container ul {
	list-style:none;
}
/* Demo Page Styles */
.wrap {
	width: 960px;
	margin: 0 auto;
}
.sidebar-container {
	width: 288px;
	float: left;
	margin-top: 42px;
}
.sidebar-container.right {
	float: right;
}
.sidebar-container h4 {
	font-size: 14px;
	margin: 0 0 5px 0;
}
.clear {
	clear: both;
}
/* Vertical Mega Menu Styles */
.mega-menu {
	line-height: 16px;
/*	border-left: 1px solid #1B1B1B;*/
	position: relative; /* Required */
/*	background-color: #bacbd8;*/
	border: 0px;
	border-top: 2px solid #d6dee4;
/*	border-right: 2px solid #537398;*/
	background-color:rgb(245, 248, 250); 
	border-right: 2px solid #B3B3B3; 
	border-left: 2px solid #B3B3B3;
}
.mega-menu li a, .mega-menu li.heading span {
	display: block;
	color: #263044;
	font-size: 16px;
	padding: 15px 10px 15px 15px;
	text-decoration: none;
	border-bottom: 1px solid #aabfcf;
}
.mega-menu li.heading {
	background-color: #abbdca;
}
.mega-menu li.heading span {
/*	font-size: 15px;*/
/*	color: #426782;*/
/*	padding-top: 10px;*/
/*	padding-bottom: 10px;*/
	font-size: 16px;
/*	color: #043255;*/
/*	padding-top: 5px;*/
/*	padding-bottom: 5px;*/
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px; 
	color:#434b4c;
	border-bottom: 2px solid #B3B3B3;
}

.leftNavMenuItem{
	padding: 15px 10px 15px 15px;	
}

.mega-menu li a:hover, .mega-menu li.mega-hover a {
	background: #2d5f85;
	color: #FFFFFF;
	border-right: 1px solid #2d5f85;
}
.mega-menu li a.dc-mega {
	position: relative;
}
/* Add arrow icon to parent links */
.mega-menu li a .dc-mega-icon {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 7px;
	height: 8px;
	background: url("../images/right.gif") no-repeat scroll 97% 50% transparent;
}
.mega-menu li a .dc-mega-icon1 {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 7px;
	height: 8px;
	background: url("../images/dropmenu_icon.png") no-repeat scroll 97% 50% transparent;
}
/* Mega menu container */
.mega-menu li .sub-container {
	position: absolute; /* Required */
	background: #FFFFFF;
    padding: 7px 5px 6px 13px;
	border: 1px solid #AABFCF;
	height: auto !important;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.mega-menu li .sub-container .sub {
}
.mega-menu li .sub .row {
	width: 100%;
	overflow: hidden; /* Clear floats */
}
.mega-menu li .sub li {
	float: none;
	width: 150px;
	font-size: 1em;
	font-weight: normal;
}
.mega-menu li .sub li.mega-hdr {
	float: left; /* Required */
	margin: 0 5px 10px 5px;
}
.mega-menu li .sub a, .mega-menu.left li .sub a {
	background: none;
	border: none;
	text-shadow: none;
	float: none;
	color: #fff;
	padding: 7px 10px;
	display: block;
	text-decoration: none;
	font-size: 0.9em;
}
.mega-menu li .sub li.mega-hdr a.mega-hdr-a {
	padding: 5px 5px 5px 15px;
	margin-bottom: 5px;
	background: #E88221;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
}
.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
	color: #000;
	text-shadow: none;
}
.mega-menu .sub li.mega-hdr li a {
	padding: 4px 5px 4px 20px;
	background: url(images/arrow_white.png) no-repeat 5px 8px;
	font-weight: normal;
}
.mega-menu .sub li.mega-hdr li a:hover {
	color: #a32403;
	background: #efefef url(images/arrow_on.png) no-repeat 5px 8px;
}
.mega-menu .sub ul li {
	padding-right: 0;
}
/* Styling for menu items with only 2 levels */
.mega-menu li .sub-container.non-mega li {
	padding: 0;
	margin: 0;
	width: 150px;
}
.mega-menu li .sub-container.non-mega li a {
	padding: 7px 5px 7px 22px;
	background: url(images/arrow_white.png) no-repeat 7px 10px;
}
.sidebar-container .group-heading {
/*	color: #426782;*/
/*	font-size: 15px;*/
	padding-top: 10px;
/*	padding-left: 20px;*/
	padding-bottom: 10px;
	background-color: #ABBDCA;
	padding-left: 15px;
	color: #434b4c;
	font-size: 16px;
	font-weight: bold;
}
.quick-links {
/*	background-color: #CDDAE5;*/
/*	padding-left: 15px;*/
/*	padding-top: 15px;*/
/*	border-right: 2px solid #537398;*/
	padding-left:0px;
	padding-top:0px;
	background-color:#fff; 
	border-right: 2px solid #B3B3B3; 
	border-left: 2px solid #B3B3B3;
}
.quick-links li {
	padding-bottom: 10px;
	font-size: 16px;
}
li.doc {
	list-style-image:url(../images/doc.png);
	list-style-position:inside;
}
li.video {
	list-style-image:url(../images/video.png);
	list-style-position:inside;
}
li.pdf {
	list-style-image:url(../images/pdf.png);
	list-style-position:inside;
}
li.email {
	list-style-image:url(../images/email.png);
	list-style-position:inside;
}
li.internal-website {
	list-style-image:url(../images/internal-website.png);
	list-style-position:inside;
}
li.external-website {
	list-style-image:url(../images/external-website.png);
	list-style-position:inside;
}
.quick-links li a {
	color: #263044;
	font-size: 16px;
}
.quick-links li a:hover {
	color: #FAA200;
}
.quick-links li.heading {
	color: #043255;
	font-size: 16px;
	padding-bottom: 15px;
	font-weight: bold;
}

.quick-links div.heading{
	background-color: #abbdca;
	padding-top:10px;
	padding-bottom: 10px;
	margin-bottom:15px;
	border-bottom: 2px solid #B3B3B3;
}

.quick-links div.heading span{
	padding-left:15px; 
	color:#434b4c; 
	font-weight:bold;
	font-size: 16px;
}

.quick-links ul li{
	margin-left: 15px;
	padding-bottom: 15px;
}

.quick-links li:last-child{
	padding-bottom: 15px !important;
}

.leftNavSocialIcons .socialicons-container{
	width: 100%;
	float:none;
	margin-top: 0px;
	margin-bottom: 8px;
}

.sidebar-container .socialicons {
    background-color: transparent;
    border-right: medium none;
    float: none;
    margin-top: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    margin-left: -2px !important;
}

.sidebar-container .leftNavSocialIcons div.heading, .sidebar-container .quick-links h1 {
	background-color: #abbdca;
	padding-top:10px;
	padding-bottom: 10px;
	margin-bottom:15px;
	border-bottom: 2px solid #B3B3B3
}

.sidebar-container .leftNavSocialIcons {
	 padding-left:0px;
	 padding-top:0px;
/*	 width:284px;*/
	 background-color: #fff; 
	 border-right: 2px solid #B3B3B3; 
	 border-left: 2px solid #B3B3B3; 
	 border-bottom: 2px solid #B3B3B3;
}

.sidebar-container .leftNavSocialIcons .heading span{
	 padding-left:15px; 
	 color:#434b4c;
	 font-size: 16px;
	 font-weight: bold;
}
.featured-solutions {
/*	background-color: #BACBD8;*/
/*	border-right: 2px solid #537398;*/
	background-color: #fff;
	border-right: 2px solid #B3B3B3;
	border-left: 2px solid #B3B3B3;
	border-bottom: 2px solid #B3B3B3;
}
.featured-solutions li {
	list-style: none;
}
.featured-solutions .item {
	border-top: 1px solid #AABFCF;
	padding: 20px;
}
.featured-solutions .item img {
	margin-bottom: 15px;
	padding: 0px;
	background-color: #fff;

	border: 1px solid #000;
	border-bottom: 3px solid #FCA911;
	height: 153px;
	width: 242px;
}
.featured-solutions .item .description, .featured-solutions .item .title {
	color: #263044;
}
.featured-solutions .item .title {
	font-size: 17px;
	font-weight: bold;
	padding-left: 10px;
	color:#263044;
	max-width: 234px;
	word-break: break-word;
}

.featured-solutions .video-container .title{
	font-size: 17px;
	font-weight: bold;
	padding-left: 10px;
	max-width: 234px;
	word-break: break-word;
}

.featured-solutions .video-container .description{
	line-height: 1.2;
	padding-left: 10px;
	color: #263044;
	max-width: 234px;
	word-break: break-word;
}

.featured-solutions .item .title .arrow {
	background:url(../images/sidebar_arrow.png) no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 10px;
	margin-left: 10px;
	width: 15px;
}
.featured-solutions .item .description {
	line-height: 1.2;
	padding-left: 10px;
}
.mega-menu li.three-col .sub-container.non-mega .sub {
	width: 720px;
}


.mega-menu li.one-col .sub-container.non-mega .sub {
	width: 230px;
}
.mega-menu li.two-col .sub-container.non-mega .sub {
	width: 480px;
}
.mega-menu li .sub-container.non-mega li {
	width: 100%;
}
.mega-menu li .sub .flyout-popup a, .mega-menu.left li .sub .flyout-popup a {
	display: inline-block;
	width: 215px;
}
.subcategory {
    width: 220px;
}
.flyout-popup div.list-items > div {
	color: #FFFFFF;
	font-size: 16px;
	/*padding-bottom: 16px;*/
	padding-top: 0px;
	margin-left: 20px;
	margin-bottom: 0px;
	display: inline-block;
}
.flyout-popup .white-arrow {
/*	background: url(../images/white_arrow.png) no-repeat scroll 0 0 transparent;*/
	height: 7px;
	width: 10px;
	display: inline-block;
	margin-left: 10px;
}
.mega-menu li .sub-container.non-mega li a {
	padding-left: 0px;
	/*padding-bottom: 16px;*/
	background: none;
	vertical-align: top;
	color: #263044;
	font-size: 16px;
}

.mega-menu li .subcategory.masonry-brick div a{
	color: #2D5F85;
	 padding-left: 0;
	/*padding-top: 5px;*/
	/*font-weight: bold;*/
}

.mega-menu li .sub-container.non-mega li a:hover {
	color: #faa200;
}
.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 2px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #FFFFFF;
	border-width: 8px;
	top: 22px;
	margin-top: -8px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #AABFCF;
	border-width: 10px;
	top: 22px;
	margin-top: -10px;
}
.mega-hover .dc-mega .dc-mega-icon, .dc-mega:hover .dc-mega-icon {
	display: none;
}
.flyout-popup > .main_head span {
	color: #FAA200;
	display: block;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}
.flyout-popup > .main_head {
    display: block;
    font-weight: bold;
    margin: 0px 0px 0px 20px;
}
.flyout-popup > .main_head a, .flyout-popup > .main_head span {
    color: #FAA200 !important;
    font-size: 18px !important;
}
.flyout-popup > div.list-items {
  padding-top: 0px;
  padding-left: 0px;
}
.subcategory.masonry-brick > a {
	font-size: 14px !important;
}

.subcategory.masonry-brick > a {
  	color: #8B8E94 !important;
  	padding-top: 0 !important;
}
.subcategory.masonry-brick > a:hover {
	color: #FAA200 !important;
}
.close_flyout{
	background: url("../images/close_icon.png");
	display: block;
	height: 22px;
	width: 22px;
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
}