/*Editorial Template*/
.rhs-tab {
	margin-left: 30px;
	margin-top: 30px;
}

.tab-button-link {
    background:#FCA911 url(../images/whitearrow_on_yellow.png) no-repeat right center;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    height: 30px;
    line-height: 40px;
    margin-top: 5px;
    padding: 0px 55px 10px 20px;
    text-decoration: none;
    width: auto;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.tab-button-link:hover{
	color: #660000;
}

.rhs-tab .main_content {
	padding-left: 0px;
	padding-top: 30px;
}

.rhs-tab .main_content .tab_heading, .rhs-tab .solutions .tab_heading{
	font-size: 18px;
}

.rhs-tab .main_content .tab_sub_heading {
	font-size: 16px;
}

.main_content .list-items {
	padding-left: 20px;
	padding-top: 20px;
}

.main_content ul li:before{ 
	content:"-"; 
	position:relative; 
	left:-5px;
}
.main_content ul li {
	margin-left: 10px;
	list-style: none;
	 text-indent:-5px;
}

.solutions {
    padding-top: 20px;
}

.solutions div {
	display: inline-block;
	padding-left: 10px;
    vertical-align: top;
    width: auto;
}
.tab-button-link.medium {
    font-size: 16px;
    height: 20px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 50px;
}
.tab-button-link.small {
    font-size: 13px;
    height: 15px;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 45px;
}

.solutions .right_col {
    float: left;
    width: 68% !important;
}
