* { 
margin:0;
}


.main{
width:1000px;
margin:0 auto;
background:#ccc;
}


/* the container */
.allinone_thumbnailsBanner {
	position:relative;
	background-size:1280px 451px !important;
	margin: 0px auto;
}
.allinone_thumbnailsBanner img {
	position:absolute;
	top:0px;
	left:0px;
	max-width:none;
	max-height:none;

	border: 1px solid #000;
	border-top: 1px solid #005ba7;
}
/*#allinone_thumbnailsBanner_simple ul{
	margin:0;
	padding:0;
	list-style:none;
	display:none;
	
}*/

.allinone_thumbnailsBanner .stripe {
	position:absolute;
	display:block;	
	height:100%;
	z-index:1;
	overflow:hidden;
	background-size:1280px 451px !important;
}
.allinone_thumbnailsBanner .block {
	position:absolute;
	display:block;	
	z-index:1;
	overflow:hidden;
}
.mycanvas {
	position:absolute;
	top:8px;
	right:10px;
	z-index:2;
}



/**COOL SKIN***/

.allinone_thumbnailsBanner.cool .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:100%;
}

.allinone_thumbnailsBanner.cool .leftNav {
	position:absolute;
	left:0px;
	top:10%;
	/*margin-top:-20px;  height/2 */
	width:22px;
	height:75px;
	
	cursor: pointer;
}

.allinone_thumbnailsBanner.cool .leftNav:hover {
	
}
.allinone_thumbnailsBanner.cool .rightNav {
	position:absolute;
	right:0px;
	top:50%;
	/*margin-top:-20px;  height/2 */
	width:22px;
	height:75px;
	
	cursor: pointer;
}
.allinone_thumbnailsBanner.cool .rightNav:hover {
	
}
.allinone_thumbnailsBanner.cool .thumbsHolderWrapper {
	position:absolute;
	background:#000000;
/*	border-top:1px solid #e66b19;
*/	height:200px;
	width:100%;
	overflow:hidden;
	z-index:10;
}
.allinone_thumbnailsBanner.cool .thumbsHolderVisibleWrapper {
	position:absolute;
	width:100%;
	height:121px;
	overflow:hidden;
	
}
.allinone_thumbnailsBanner.cool .thumbsHolder {
	position:absolute;
	
}
.allinone_thumbnailsBanner.cool .thumbsHolder_ThumbOFF {
	float:left;
	display:block;
	width:110px;
	height:65px;
	cursor: pointer;
	
}

.allinone_thumbnailsBanner.cool .thumbsHolder_ThumbOFF img {
	position:relative;
	
}

.allinone_thumbnailsBanner.cool .thumbsHolder_ThumbON {
		
	
}
.allinone_thumbnailsBanner.cool .carouselLeftNav {
	position:absolute;
	width:29px;
	height:120px;
	
	cursor: pointer;	
}

.allinone_thumbnailsBanner.cool .carouselLeftNav:hover {
	
}

.allinone_thumbnailsBanner.cool .carouselLeftNavDisabled {

	cursor:default;
}
.allinone_thumbnailsBanner.cool .carouselLeftNavDisabled:hover {
	
}

.allinone_thumbnailsBanner.cool .carouselRightNav {
	position:absolute;
	width:29px;
	height:120px;
	
	cursor: pointer;
}

.allinone_thumbnailsBanner.cool .carouselRightNav:hover {
	background:url(../images/carouselRightNavOn.png) 0 0 no-repeat;
}

.allinone_thumbnailsBanner.cool .carouselRightNavDisabled {

	cursor:default;
}
.allinone_thumbnailsBanner.cool .carouselRightNavDisabled:hover {
	
}



/**SIMPLE SKIN***/

.allinone_thumbnailsBanner.simple .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:100%;
}

.allinone_thumbnailsBanner.simple .leftNav {
	position:absolute;
	left:0px;
	top:50%;
	/*margin-top:-35px;  height/2 */
	
	width:41px;
	height:41px;
	background:url(../images/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}

.allinone_thumbnailsBanner.simple .leftNav:hover {
	background:url(../images/leftNavON.png) 0 0 no-repeat;
}
.allinone_thumbnailsBanner.simple .rightNav {
	position:absolute;
	right:0px;
	top:50%;
	/*margin-top:-35px;  height/2 */
	width:41px;
	height:41px;
	background:url(../images/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}
.allinone_thumbnailsBanner.simple .rightNav:hover {
	background:url(../images/rightNavON.png) 0 0 no-repeat;
}


.allinone_thumbnailsBanner.simple .thumbsHolderWrapper {
	position:absolute;
	background:url(../images/tran_slide_bg.png) repeat;
	height:83px !important;
	margin-top:-82px !important;
	width:100%;
	overflow:hidden;
	z-index:10;
}
.allinone_thumbnailsBanner.simple .thumbsHolderVisibleWrapper {
	position:absolute;
	width:100% !important;
	height:121px;
	overflow:hidden;	
	left:0px !important;
}
.allinone_thumbnailsBanner.simple .thumbsHolder {
	width: 733px !important;
	margin: 0px auto;
}
.allinone_thumbnailsBanner.simple .thumbsHolder_ThumbOFF {
	float:left;
	display:block;
	width:99px !important;
	height:79px !important;
	cursor: pointer;
	z-index:999;
	opacity:0.5;
	margin-left: 5px !important;
}

.allinone_thumbnailsBanner.simple .thumbsHolder_ThumbOFF img {
	position:relative;
	width: 102px !important; 
	height: 83px !important;
	margin-top: 0px !important;
}

.allinone_thumbnailsBanner.simple .thumbsHolder_ThumbON {
	
	border-top:0px #faa200 solid;
	opacity:1;	
}
.allinone_thumbnailsBanner.simple .carouselLeftNav {
	position:absolute;
	width:46px;
	height:98px;
	
	cursor: pointer;
}

.allinone_thumbnailsBanner.simple .carouselLeftNav:hover {

}

.allinone_thumbnailsBanner.simple .carouselLeftNavDisabled {
	
	cursor:default;
}
.allinone_thumbnailsBanner.simple .carouselLeftNavDisabled:hover {
	
}


.allinone_thumbnailsBanner.simple .carouselRightNav {
	position:absolute;
	width:46px;
	height:98px;

	cursor: pointer;
}

.allinone_thumbnailsBanner.simple .carouselRightNav:hover {

}
.allinone_thumbnailsBanner.simple .carouselRightNavDisabled {
	
	cursor:default;
}
.allinone_thumbnailsBanner.simple .carouselRightNavDisabled:hover {

}


/**CRAZY SKIN***/

.allinone_thumbnailsBanner.crazy .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	width:100%;
}

.allinone_thumbnailsBanner.crazy .leftNav {
	position:absolute;
	left:110px;
	top:50%;
	/*margin-top:-20px;  height/2 */
	width:31px;
	height:71px;
	
	cursor: pointer;
	z-index:4;
}

.allinone_thumbnailsBanner.crazy .leftNav:hover {
	
}
.allinone_thumbnailsBanner.crazy .rightNav {
	position:absolute;
	right:110px;
	top:50%;
	/*margin-top:-20px;  height/2 */
	width:31px;
	height:71px;

	cursor: pointer;
	z-index:4;
}
.allinone_thumbnailsBanner.crazy .rightNav:hover {
	
}
.allinone_thumbnailsBanner.crazy .thumbsHolderWrapper {
	position:absolute;
	height:98px;
	width:100%;
	overflow:hidden;
	z-index:10;
}
.allinone_thumbnailsBanner.crazy .thumbsHolderVisibleWrapper {
	position:absolute;
	width:100%;
	height:98px;
	overflow:hidden;
}

.allinone_thumbnailsBanner.crazy .thumbsHolder {
	position:absolute;
	margin-top:0px;
	z-index:4;
}
.allinone_thumbnailsBanner.crazy .thumbsHolder_ThumbOFF {
	float:left;
	display:block;
	margin-top:-3px;
	cursor: pointer;
}

.allinone_thumbnailsBanner.crazy .thumbsHolder_ThumbOFF img {
	position:relative;
}

.allinone_thumbnailsBanner.crazy .thumbsHolder_ThumbON {
	margin-top:-3px;
		
}
.allinone_thumbnailsBanner.crazy .carouselLeftNav {
	position:absolute;
	width:205px;
	height:98px;
	
	cursor: pointer;
	z-index:4;
}

.allinone_thumbnailsBanner.crazy .carouselLeftNav:hover {
	
}

.allinone_thumbnailsBanner.crazy .carouselLeftNavDisabled {

	cursor:default;
}
.allinone_thumbnailsBanner.crazy .carouselLeftNavDisabled:hover { 
	
}


.allinone_thumbnailsBanner.crazy .carouselRightNav {
	position:absolute;
	width:205px;
	height:98px;
	
	cursor: pointer;
	z-index:4;
}


.allinone_thumbnailsBanner.crazy .carouselRightNav:hover {

}

.allinone_thumbnailsBanner.crazy .carouselRightNavDisabled {
	
	cursor:default;
}
.allinone_thumbnailsBanner.crazy .carouselRightNavDisabled:hover { 
	
}

/**Texts**/



/****TextsCoolFixedDimensions****/

.textElement11_cool {
	font: bold 24px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#000000;
}
.textElement12_cool {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#000000;
}

.textElement21_cool {
	font: bold 32px/1.0em 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#ffffff;
}
.textElement22_cool {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#ffffff;
}

.textElement31_cool {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	padding:0px 15px 3px 15px;
	color:#FFFFFF;
}

.textElement32_cool {
	font: bold 26px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#FFFFFF;
}

.textElement33_cool {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	padding:4px 15px 6px 15px;
	color:#FFFFFF;
}


.textElement41_cool {
	font: bold 40px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#000000;
}
.textElement42_cool {
	font: bold 20px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#000000;
}



.textElement51_cool a {
	font: bold 28px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#ffffff;
	text-decoration:none;
}

.textElement51_cool a:hover {
	color:#000000;
}




.textElement52_cool {
	width:481px;
	
	font: 14px/1.3em 'Arial', Verdana, Helvetica, sans-serif;
	padding:15px 15px 15px 15px;
	color:#FFF;
}

.textElement52_cool a {
	font: bold 14px 'Arial', Verdana, Helvetica, sans-serif;
	color:#FF0000;
	text-decoration:none;
}

.textElement52_cool a:hover {
	color:#FFF;
	text-decoration:none;
}


.textElement53_cool a {

	font: bold 14px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#ffffff;
	text-decoration:none;
}

.textElement53_cool a:hover {
	background:#FFFFFF;
	padding:6px 15px 6px 15px;
	color:#512d5d;
}




/****Texts Cool Responsive***/

.textElement11_cool_responsive {
	font: bold 24px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:34px;
	color:#000000;
}


.textElement12_cool_responsive {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:25px;
	color:#000000;
}

.textElement12_cool_responsive a {
	color:#cf0005;
	text-decoration:none;
}

.textElement12_cool_responsive a:hover {
	color:#FFFFFF;
}

.textElement21_cool_responsive {
	font: bold 32px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:38px;
	color:#ffffff;
}
.textElement22_cool_responsive {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:24px;
	color:#ffffff;
}

.textElement31_cool_responsive {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	line-height:25px;
	color:#FFFFFF;
}

.textElement32_cool_responsive {
	font: bold 26px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:37px;
	color:#FFFFFF;
}

.textElement33_cool_responsive {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	line-height:25px;
	color:#FFFFFF;
}


.textElement41_cool_responsive {
	font: bold 40px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:56px;
	color:#000000;
}
.textElement42_cool_responsive {
	font: bold 20px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:30px;
	color:#000000;
}

.textElement51_cool_responsive {
	font: bold 28px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:37px;
	color:#ffffff;
}


.textElement51_cool_responsive a {
	color:#ffffff;
	text-decoration:none;
}

.textElement51_cool_responsive a:hover {
	color:#ffe400;
}




.textElement52_cool_responsive {
	width:44%;
	font: 18px 'Arial', Verdana, Helvetica, sans-serif;
	line-height:25px;
	color:#FFF;
}

.textElement52_cool_responsive a {
	color:#FF0000;
	text-decoration:none;
}

.textElement52_cool_responsive a:hover {
	color:#ffc000;
	text-decoration:none;
}






/****Texts Cool FullWidth***/

.textElement11_cool_FullWidth {
	font: bold 38px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:54px;
	color:#000000;
}


.textElement12_cool_FullWidth {
	font: bold 26px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:37px;
	color:#000000;
}

.textElement12_cool_FullWidth a {
	color:#cf0005;
	text-decoration:none;
}

.textElement12_cool_FullWidth a:hover {
	color:#FFFFFF;
}

.textElement21_cool_FullWidth {
	font: bold 42px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:53px;
	color:#ffffff;
}
.textElement22_cool_FullWidth {
	font: bold 28px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:38px;
	color:#ffffff;
}

.textElement31_cool_FullWidth {
	font: bold 32px/42px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
}

.textElement32_cool_FullWidth {
	font: bold 48px/64px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#FFFFFF;
}

.textElement33_cool_FullWidth {
	font: bold 32px/42px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#FFFFFF;
}



.textElement41_cool_FullWidth {
	font: bold 52px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:72px;
	color:#000000;
}
.textElement42_cool_FullWidth {
	font: bold 32px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:45px;
	color:#000000;
}

.textElement51_cool_FullWidth {
	font: bold 48px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	line-height:68px;
	color:#ffffff;
}


.textElement51_cool_FullWidth a {
	color:#ffffff;
	text-decoration:none;
}

.textElement51_cool_FullWidth a:hover {
	color:#ffe400;
}




.textElement52_cool_FullWidth {
	width:35%;
	font: 28px 'Arial', Verdana, Helvetica, sans-serif;
	line-height:37px;
	color:#FFF;
}

.textElement52_cool_FullWidth a {
	color:#FF0000;
	text-decoration:none;
}

.textElement52_cool_FullWidth a:hover {
	color:#ffc000;
	text-decoration:none;
}




/****Texts SIMPLE Fixed Dimensions***/


.textElement11_simple {
	width:100%;
	font: bold 24px/28px 'Droid Sans', Verdana, Helvetica, sans-serif;

	padding:6px 0px 15px 0px;
	text-align:left;
	color:#ffffff;
}


.textElement11_simple a {
	color:#ff0000;
	text-decoration:none;
}

.textElement11_simple a:hover {
	color:#ffffff;
}

.textElement12_simple {
	font: bold 20px/25px 'Droid Sans', Verdana, Helvetica, sans-serif;
	background: #FFF;
	padding:3px 6px 3px 6px;
	text-transform:uppercase;
	color:#000000;
}



.textElement21_simple {
	font:28px/32px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#ffffff; 
	padding:6px 9px 6px 9px;
	text-align:left;
	
}


.textElement21_simple a {
	color:#ff0000;
	text-decoration:none;
}

.textElement21_simple a:hover {
	color:#ffffff;
	background: #F00;
}


.textElement31_simple {
	font: 23px/30px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	text-align:center;
	padding:6px 9px 6px 9px;
	color:#FFFFFF;
}


.textElement41_simple {
	font: 28px/34px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	padding:6px 9px 6px 9px;
	color:#ffffff;
}


.textElement51_simple {
	width:100%;
	font: bold 24px/30px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	padding:6px 0px 6px 0px;
	text-align:center;
	color:#ffffff;
}

.textElement51_simple a {
	color:#ff0000;
	text-decoration:none;
}

.textElement51_simple a:hover {
	color:#ffffff;
}









/****Texts SIMPLE Responsive***/


.textElement11_simpleResponsive {
	width:100%;
	font: bold 24px/29px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	padding:6px 0px 20px 0px;
	text-align:left;
	color:#ffffff;
}


.textElement11_simpleResponsive a {
	color:#ff0000;
	text-decoration:none;
}

.textElement11_simpleResponsive a:hover {
	color:#ffffff;
}

.textElement12_simpleResponsive {
	font: bold 20px/25px 'Droid Sans', Verdana, Helvetica, sans-serif;
	background: #FFF;
	padding:3px 6px 3px 6px;
	text-transform:uppercase;
	color:#000000;
}



.textElement21_simpleResponsive {
	font:28px/32px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#ffffff; 
	padding:6px 9px 6px 9px;
	text-align:left;
	
}


.textElement21_simpleResponsive a {
	color:#ff0000;
	text-decoration:none;
}

.textElement21_simpleResponsive a:hover {
	color:#ffffff;
	background: #F00;
}


.textElement31_simpleResponsive {
	font: 23px/30px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	text-align:center;
	padding:6px 9px 6px 9px;
	color:#FFFFFF;
}


.textElement41_simpleResponsive {
	font: 28px/34px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	padding:6px 9px 6px 9px;
	color:#ffffff;
}


.textElement51_simpleResponsive {
	width:100%;
	font: bold 24px/30px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	padding:6px 0px 6px 0px;
	text-align:center;
	color:#ffffff;
}


.textElement51_simpleResponsive a {
	color:#ff0000;
	text-decoration:none;
}

.textElement51_simpleResponsive a:hover {
	color:#ffffff;
}





/****Texts SIMPLE FullWidth***/


.textElement11_simpleFullWidth {
	width:100%;
	font: bold 32px/45px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	padding:6px 0px 18px 0px;
	text-align:left;
	color:#ffffff;
}


.textElement11_simpleFullWidth a {
	color:#ff0000;
	text-decoration:none;
}

.textElement11_simpleFullWidth a:hover {
	color:#ffffff;
}


.textElement21_simpleFullWidth {
margin:0 auto;
	font:24px/36px 'Droid Sans', Verdana, Helvetica, sans-serif;
	color:#ffffff; 
	padding:6px 9px 6px 9px;
	text-align:left;
	
}


.textElement21_simpleFullWidth a {
	color:#ff0000;
	text-decoration:none;
}

.textElement21_simpleFullWidth a:hover {
	color:#ffffff;
	background: #F00;
}


.textElement31_simpleFullWidth {
	font: 34px/46px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	text-align:center;
	padding:6px 9px 6px 9px;
	color:#FFFFFF;
}


.textElement41_simpleFullWidth {
	font: 34px/46px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	padding:6px 9px 6px 9px;
	color:#ffffff;
}


.textElement51_simpleFullWidth {
	width:100%;
	font: 34px/44px 'Droid Sans', Verdana, Helvetica, sans-serif;
	
	padding:6px 0px 8px 0px;
	text-align:center;
	color:#ffffff;
}


.textElement51_simpleFullWidth a {
	color:#ff0000;
	text-decoration:none;
}

.textElement51_simpleFullWidth a:hover {
	color:#ffffff;
}










/****CRAZY***/

.textRibbonRight_crazy {
	background:url(../images/backRibbonRight.png) top right no-repeat;
}

.textRibbonLeft_crazy {
	background:url(../images/backRibbonLeft.png) top left no-repeat;
}

.textRibbonTopRight_crazy {
	background:url(../images/backRibbonTopRight.png) top left no-repeat;
}

#topCrazyTextBgRight {
	float:left;
	background:#b0010c;
	margin-left:13px;
	margin-top:-19px;
}

.textRibbonTopLeft_crazy {
	background:url(../images/backRibbonTopLeft.png) top right no-repeat;
}


#topCrazyTextBgLeft {
	float:right;
	width:320px;
	background:url(../images/textBg_transparency.png);
	margin-right:13px;
	margin-top:-20px;
	padding:14px 5px 20px 5px;
}

.float-block {
	float:left;
	display:block;
}


#textElement3_crazy_list {
	padding: 0;
}
#textElement3_crazy_list ul {
	padding-left: 15px;
}

#textElement3_crazy_list ul li {
	color:#ffffff;
	font: bold 14px/1.3em 'Droid Sans', Verdana, Helvetica, sans-serif;
	font-style:italic;
	padding:0 0 15px 30px;
	list-style:none;
	background:url(../images/listIcon.png) 0px 2px no-repeat;
}



.icon {
	width:16px;
	height:21px;
	background:url(../images/listIcon.png) top left no-repeat;
	padding:0;
	margin-top:3px;

}


.textbg_crazy {
	width:940px;
	background:url(../images/textBg_transparency.png);
	padding:10px;

}

.textbg_crazy_width {
	width:280px;
	height:354px;
	background:url(../images/textBg_transparency.png);
	padding:15px;
	color:#FFF;
}

.textbg_crazy_width2 {
	width:320px;
	background:url(../images/textBg_transparency.png);
	padding:15px;
	color:#FFF;
}

.textElement11_crazy {
	background:#03c9bd;
	text-align:right;
	width:350px;
	font: bold 26px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	margin-left:44px;
	margin-top:-6px;
	padding:4px 20px 4px 15px;
	color:#ffffff;
}
.textElement12_crazy {
	background:#aa4778;
	text-align:right;
	width:310px;
	margin-left:91px;
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 20px 6px 8px;
	color:#ffffff;
}

.textElement21_crazy {
	background:#333333;
	text-align:left;
	width:460px;
	font: bold 24px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	margin-right:44px;
	margin-top:-6px;
	padding:4px 4px 4px 20px;
	color:#ffffff;
}
.textElement22_crazy {
	background:#aa4778;
	text-align:left;
	width:320px;
	margin-right:84px;
	font: bold 20px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:4px 4px 10px 20px;
	color:#ffffff;
}

.textElement31_crazy {
	font: bold 16px 'Droid Sans', Verdana, Helvetica, sans-serif;
	padding:0px 15px 3px 15px;
	color:#FFFFFF;
}

.textElement32_crazy {
	font: bold 26px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#FFFFFF;
}

.textElement33_crazy {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	padding:4px 15px 6px 15px;
	color:#FFFFFF;
}


.textElement41_crazy {
	font: bold 30px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#ffffff;
}
.textElement42_crazy {
	font: bold 20px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:0px 15px 15px 15px;
	color:#ffffff;
}



.textElement51_crazy {
	font: bold 24px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:3px 15px 3px 15px;
	color:#ffffff;
}


.textElement52_crazy {
	font: bold 18px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:0px 15px 10px 15px;
	color:#ffffff;
}



.textElement53_crazy a {
	background:url(../images/textBg_transparency.png);
	font: bold 14px 'Droid Sans', Verdana, Helvetica, sans-serif;
	text-transform:uppercase;
	padding:6px 15px 6px 15px;
	color:#ffffff;
	text-decoration:none;
}

.textElement53_crazy a:hover {
	background:#FFFFFF;
	padding:6px 15px 6px 15px;
	color:#512d5d;
}





.allinone_thumbnailsBanner_texts {
	position:absolute;
	z-index:3;
	display: none;
	width:100%;
	text-align:left; 
}

.allinone_thumbnailsBanner_text_line {
	background: url("../images/tran_slide_bg.png") repeat scroll 0 0 transparent;
    max-width: 660px !important;
    padding: 20px;
    position: absolute;
    width: auto !important;
    word-wrap: break-word;
}

.allinone_thumbnailsBanner_text_line_noBackground {
    background: none;
    max-width: 660px !important;
    padding: 20px;
    position: absolute;
    width: auto !important;
    word-wrap: break-word;
}

.trimbleBannerSize
{
    width: 380px !important;
    max-height: 100px;
}

.displayBlock
{
    display:block;
    padding-bottom: 5px;
}

.lineHeight
{
    line-height:20px;
}

.trimbleBannerSize p
{
    line-height: 23px;
	display: inline-block;
}




.hideElement {
	display:none;
}




.liasd{
 	background: url("../images/whitearrow_on_yellow.png") no-repeat scroll right center #FCA911;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 40px;
    margin-top: 20px;
    padding-right: 55px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.liasd a{
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
width:244px;
line-height:40px;
background:none;
padding-left:20px;
text-decoration:none;
color:#FFFFFF;
}

.liasd a:hover{
font-family:Arial, Helvetica, sans-serif;
background:none;
color:#660000;
text-decoration:none;
}


.smallfont{
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
	font-size:0.9em;
}


.largefont{
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:1.4em;
	line-height:1.1em;
}