div#tmpSlideshow {
	margin: 0px;
	padding: 0px 0px;
	padding-left: 0px;
	/*height: 250px;*/
	border: 0px solid rgb(200, 200, 200);
	display:block;
	position:relative;
	overflow:hidden;
}
div#tmpSlideshow.bigger-banner {
	height: 450px;
}
div.tmpSlide {
	width:100%;
	height:auto;
	margin:0px;
	display: none;
	position: relative;
}
div.tmpSlide img {
	float: left;
	margin: 0px;
	width: 100%;
	height: auto;
}
div.bigger-banner div.tmpSlide img{
	height: auto;
}
div#tmpSlideshowControls {
	position:absolute;
	float:right;
	bottom: 10px;
	right: 5px;
	width: 100px;
}
div.tmpSlideshowControl {
	border: 1px solid #e1dece;
	margin: 0 5px 0 0;

	width: 15px;
	height: 15px;
	color: #554d31;
	font: 10px Arial, sans-serif;
	text-align: center;
	cursor: pointer;
	float:left;
}
div.tmpSlideshowControl span {
	line-height: 15px;
	vertical-align: middle;
	color:#fff;
}
div.tmpSlideshowControlOn {

}
div.tmpSlideshowControlActive {
	border: 1px solid #FFDB21;
	background:#FFDB21;
}
div.tmpSlideshowControlActive span {
	color:#000;
}
div.tmpSlideCopy {
	margin-top:10px;
	float:left;
	width: 400px;
}
div#tmpSlideshow h4 {
	color: #FFDB21;
	font: bold 18px Arial, Helvetica, sans-serif !important;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 20px;
}
div.tmpSlideCopy2 h4 {
	color: #FFDB21;
	font: bold 18px Arial, Helvetica, sans-serif !important;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 20px;
}
div.tmpSlideCopy2 img {
	padding: 0px 0px 10px 20px;
	margin: 0px 0px 0px 0px;
	float:none;
}
div.tmpSlideCopy p, div.tmpSlideCopy2 p, div.tmpSlideCopy3 p, div.tmpSlideCopy4 p, div.tmpSlideCopy5 p {
	font: 14px Arial, sans-serif;
	line-height: 120%;
	color:#ffffff;
	padding-left:20px;
}
div.tmpSlideCopy ul, div.tmpSlideCopy2 ul, div.tmpSlideCopy3 ul, div.tmpSlideCopy4 ul, div.tmpSlideCopy5 ul {
	line-height: 120%;
	padding-left:40px;
	list-style-type:square;
	color: #FFF;
	margin-top: 5px;
}
div.tmpSlideCopy a:link, div.tmpSlideCopy3 a:link {
	text-decoration:none;
	color: #Fc0;
	font: 11px Arial, sans-serif;
}
div.tmpSlideCopy a:visited, div.tmpSlideCopy3 a:visited {
	text-decoration:none;
	color: #Fc0;
	font: 11px Arial, sans-serif;
}
div.tmpSlideCopy a:hover, div.tmpSlideCopy3 a:hover {
	text-decoration:underline;
	color: #Fc0;
	font: 11px Arial, sans-serif;
}
div.tmpSlideCopy a:active, div.tmpSlideCopy3 a:active {
	text-decoration:none;
	color: #Fc0;
	font: 11px Arial, sans-serif;
}   

.bigger-banner .tmpSlide
{
    height: auto !important;
    position: relative !important;
}
