﻿.navigationmenu{
	width:100%;
	
	margin:0px;
	position:absolute;
	bottom:15px;
	padding:0px;
}


/* top level
--------------------------------------------*/
.menuTemplate1
{
/* You will get totally diffrent menu alignment and layout by setting following margin, width, and float with different values.
For detailed instruction please visit www.menucool.com/horizontal/change-menu-alignment  */
margin: 0; width: 100%; float:none;
/*following "behavior" works for IE6, IE7, and IE8. Other browsers will ignore it.*/
/*Note: htc file path(if using relative path) inside the CSS file should be relative to the page, not to the CSS file (this is unlike image path inside the CSS that is relative to the CSS file location only). 
So we recommend using the absolute path for the behavior file.*/
behavior:url("/horizontal/menuh/cssmenu.htc");
position:relative;
z-index:4;
height: 36px;
/*background: #D4D4D4 url(bg.gif);
border: 1px solid #BBB;*/  
font-family:'Titillium Web', Arial, Helvetica, sans-serif;
list-style: none;
padding: 0;
margin-left:20px;
}

.leftbold{
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-top:0px;
	padding-bottom:0px;
	width:205px;
	margin-top: 10px;
}
/*Added by JM*/
ul.menuTemplate1
{
    /*
	float:right;	
	padding:0px;
	margin:0px;
    */

}
/*End by JM*/

.menuTemplate1 li
{
	padding: 0;
	float: left;
	height: 36px;
	position: relative;/*delete it if you want submenu to be positioned relative to the whole menu instead of this li element*/
	color: black;
	z-index:5;
}

.menuTemplate1 a, .menuTemplate1 span
{
	padding: 0 13px;
	line-height: 51px; /*Note: keep this value the same as the height of .menuTemplate1 li */
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
	outline: 0;
	text-decoration: none;
	position: relative;
	color:#005595;
	color:#ffffff;
	cursor: pointer;
}

.menuTemplate1 li:hover a, .menuTemplate1 li.onhover a, .menuTemplate1 li.onhover span, .menuTemplate1 li:hover span
{
	background: white /*url(../images/bg.gif) repeat-x 0 -48px*/;
	color: #fbb434;
	z-index: 9;
	border-top:1px #ccc solid;
	border-left:1px #ccc solid;
	border-right:1px #ccc solid;
	padding: 0 12px 0 12px;
	background:#47A3DA;


}
.menuTemplate1 a.arrow, .menuTemplate1 span.arrow {
	padding: 0 8px 0 8px;
	margin: 0px 5px 0px 5px;
	background: url(../images/dropmenu_icon.png) no-repeat right 30px ;
}
.menuTemplate1 li:last-child a.arrow, .menuTemplate1 li:last-child span.arrow {
    margin-right: 0;
}
.menuTemplate1 li:hover a.arrow, .menuTemplate1 li.onhover a.arrow, .menuTemplate1 li:hover span.arrow, .menuTemplate1 li.onhover span.arrow {
	padding: 0 7px 0 7px;
}
/*Used to align a top-level item to the right*/        
.menuTemplate1 li.menuRight
{
	float: right;
	margin-right: 0px;
}

/*for the top-level separators*/
.menuTemplate1 li.separator
{
	font-size:0;
	overflow:hidden;
	z-index:4;
}


/* sub level
--------------------------------------------*/

.menuTemplate1 .drop {
	position: absolute !important;
	z-index:5;
	left: -9999px;
	border: 1px solid #DDD;
	border-bottom:1px solid #DDD;
	background: #FFF;            
	text-align: left;
	padding: 18px 10px 18px 10px;
	color:#0F4F89;
	top:51px;              
	background-color:#47A3DA;     
}
.menuTemplate1 .drop .full-width{
	width: 980px;
}

.menuTemplate1 .drop.two-col-links{
	width: 412px;
}

.menuTemplate1 .drop a
{
	padding-left: 0px;
	padding-right: 0px;
	line-height: 26px;
	font-size: 12px;
	font-weight: normal;
	display: inline;
	text-align: left;
	position: static;
	z-index: 0;
	background-image:none;
	border:none;
}

.menuTemplate1 li:hover .drop, .menuTemplate1 li.onhover .drop {
	left: -441px;/*Use this property to change offset of the dropdown*/
	/*background:white url(bg-right.png) no-repeat right bottom;*/
}

.menuTemplate1 li:hover .dropToLeft1, .menuTemplate1 li.onhover .dropToLeft1 {
	left: auto;
	right: -228px;
}

.menuTemplate1 li:hover .dropToLeft2, .menuTemplate1 li.onhover .dropToLeft2 {
	left: auto;
	right: -118px;
}

.menuTemplate1 li:hover .dropToLeft3, .menuTemplate1 li.onhover .dropToLeft3 {
	left: auto;
	right: -62px;
}
.menuTemplate1 li:hover .dropToLeft4, .menuTemplate1 li.onhover .dropToLeft4 {
	left: auto;
	right: 0px;
}
/* Elements within the drop down sub-menu
--------------------------------------------*/

.menuTemplate1 div.drop div div
{

	/*width:152px;*/
}

.drop1{
	padding: 0px 0px;
	width:140px;
	padding-right:32px;		
}


.drop2{
	padding: 0px 0px;
	width:228px;	
	padding-right:12px;
}

.menuTemplate1 li:hover .drop a, .menuTemplate1 li.onhover .drop a
{
	background: none;
	background-image:none;
	padding:0 0;
}

.menuTemplate1 div.drop div a {
	line-height: 27px;  
	color: #2d5f85;border:none;
	font-size:16px;
	background:none;
	color:#fff;
}
.menuTemplate1 div.drop div p a {
/*	color: #FAA200;*/
/*	font-weight: bold;*/
}

.menuTemplate1 div.drop div a:hover{
	text-decoration:underline;
	cursor:pointer;
	color:#fbb434;
	text-decoration:none;
}

.menuTemplate1 div.left {float:left; }

.menuTemplate1 div.left2 {float:left; margin-top:32px; }


/* CSS3 effects
--------------------------------------------*/

/*for top-level*/     
.decor1_1 {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
/*-moz-box-shadow: 0px 1px 4px #ccc;
-webkit-box-shadow: 0px 1px 4px #ccc;
box-shadow: 0px 1px 4px #ccc;*/            
}

/*for submenu.*/    
.decor1_2 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
/*-moz-box-shadow: 0px 12px 20px #CCCCCC;
-webkit-box-shadow: 0px 12px 20px #CCCCCC;
box-shadow: 0px 12px 20px #CCCCCC;*/ 
}

.menuTemplate1 li:last-child .decor1_2 {
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
}

.separator12{
	background:#ccc;
	width:1px;
	height:180px;
	position:relative;
	float: left;
	margin-right:30px;
	display:block;
	margin-top:32px;
}

.dropimg{
	padding-left:12px;	
	text-align: center;
	font-weight: bold;
}
.dropimg img {
    width: 148px;
    height: 112px;
    border-top: 3px solid #FFFFFF;
}
.dropimg img:hover {
	border-top: 3px solid #FAA200;
}
.dropimg a{
	padding-top: 2px;
}
.menuTemplate1 .drop.lpad10 {
	padding-left: 20px;
	padding-top: 8px;
}

.menuTemplate1 .drop.lpad10.full-width{
	width: 410px;
}

.moreLink{
	color:#faa200 !important;
}
