﻿.newslist h2{font-size:19px; margin:15px 0px 10px 0px;}
.newsDate{font-size: 12px; color:#666666; margin-left:5px;} 
.newslist a:link, .newslist a:active, .newslist a:visited {margin:0px 0px 15px 5px; display:block;}
.NewsFilter {padding:10px; background-color:#EDF5F7; height:28px;}
#spanYear{float:right; margin-left:5px; width:80px;}
#spanIndustry{float:right; margin-left:5px; width:200px;}

.dropList {
	color:#036;
	height: 28px;
	padding-left: 10px;
	text-decoration: none;
	/*
	background-image: url('http://i.stack.imgur.com/pbpVI.png');
	background-repeat: repeat-x;
	*/
	font-size:13px;
	-moz-border-radius: 5px
	border-radius: 5px; /*up to date browsers support this, but you can add prefixes if you want*/
	margin-bottom:5px;
	border: 1px solid #CCC;
}



					
/* HomePage Luna */

.newsItem
{
    color: #005F9F;   
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    line-height: 20px;
    margin-bottom: 10px;
}

p.categoryProductDescription:empty
{
    display:none;
}

.newsItem .pubDate
{
    
    font-weight: 500;
}

.pubDate 
{
    color: #000;
}