﻿/*-----------sli-rac 1.5.css Style-----------------*/

ul#sli_autocomplete.rich {
	position: absolute;
	display: none;
	z-index: 300000;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
}
ul#sli_autocomplete.rich b {
	color: #000
}
ul#sli_autocomplete.rich ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 390px;
	float:left;
	/* margin-left:15px; */
	
}
ul#sli_autocomplete.rich .logo {
	text-align: right;
	display:none;
}
ul#sli_autocomplete.rich li {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	width:390px;
	float:left;

	
}
ul#sli_autocomplete.rich li ul li {
	padding: 8px 20px;
	cursor: pointer
}
ul#sli_autocomplete.rich li:last-child ul li:last-child {
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px
}
ul#sli_autocomplete.rich li ul li:nth-child(even) {
	background: #fff
}
ul#sli_autocomplete.rich li ul li:nth-child(odd) {
	background: #f2f2f2
}
ul#sli_autocomplete.rich li h2 {
	margin: 0;
	background: #9f9f9f;
	color: #fff;
	display: block;
	font-weight: bolder;
	padding: 5px 4px
}
ul#sli_autocomplete.rich .sli_ac_products li {
	padding: 4px 6px;
	_padding-bottom: 2px;
	height: 55px;
	position: relative
}
ul#sli_autocomplete.rich .sli_ac_products li:last-child {
	border-bottom: 0
}
ul#sli_autocomplete.rich .sli_ac_products li h3 {
	font-weight: bolder;
	color: #666;
	margin: 0;
	padding: 0;
	font-size: 12px
}
ul#sli_autocomplete.rich .sli_ac_products li .sli_ac_iwrap {
	width: 50px;
	height: 50px;
	float: left;
	margin: 5px;
	position: relative;
	overflow: hidden;
	line-height: 50px;
	text-align: center
}
ul#sli_autocomplete.rich .sli_ac_products li img.sli_ac_image {
	width: 50px;
	height: 50px;
	margin: 5px;
	float: left;
	position: relative
}
ul#sli_autocomplete.rich .sli_ac_products li .sli_ac_iwrap img.sli_ac_image {
	width: auto;
	height: auto;
	margin: 0;
	float: none;
	max-height: 50px;
	max-width: 50px;
	vertical-align: middle
}
ul#sli_autocomplete.rich .sli_ac_products li p {
	margin: 0;
	padding: 0;
	font-size: 11px
}
ul#sli_autocomplete.rich .sli_ac_products li span {
	float: right;
	font-weight: bold;
	position: relative
}
ul#sli_autocomplete.rich li ul li.sli_ac_active {
	background-color: #FAA200;
}
ul#sli_autocomplete.rich .sli_ac_suggestions li.sli_ac_active .sli_ac_suggestion, ul#sli_autocomplete.rich .sli_ac_suggestions li.sli_ac_active .sli_ac_suggestion b, ul#sli_autocomplete.rich .sli_ac_products li.sli_ac_active b {
	color: #fff
}
ul#sli_autocomplete.rich .sli_ac_suggestions li.sli_ac_active .sli_ac_suggestion, ul#sli_autocomplete.rich .sli_ac_products li.sli_ac_active, ul#sli_autocomplete.rich .sli_ac_products li.sli_ac_active h3 {
	color: #dfefff
}
ul#sli_autocomplete.rich.mobile li div {
	line-height: 32px;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
ul#sli_autocomplete.rich.mobile li.logo {
	padding-right: 3px;
	line-height: 18px
}
ul#sli_autocomplete.rich.mobile li ul li.sli_ac_active {
	background-image: none
}
ul#sli_autocomplete.rich.mobile .sli_ac_suggestions li.sli_ac_active .sli_ac_suggestion, ul#sli_autocomplete.rich.mobile .sli_ac_suggestions li.sli_ac_active .sli_ac_suggestion b, ul#sli_autocomplete.rich.mobile .sli_ac_products li.sli_ac_active b {
	color: #333
}
ul#sli_autocomplete.rich.mobile .sli_ac_suggestions li.sli_ac_active .sli_ac_suggestion, ul#sli_autocomplete.rich.mobile .sli_ac_products li.sli_ac_active, ul#sli_autocomplete.rich.mobile .sli_ac_products li.sli_ac_active h3 {
	color: #333
}
ul#sli_autocomplete.rich.mobile li {
	-webkit-tap-highlight-color: #75b9f0
}
ul#sli_autocomplete.rich .sli_ac_products li>span {
	display: none;
	color: #fff;
	width: 250px;
	height: 53px;
	overflow: hidden;
	position: absolute;
	left: -270px;
	padding: 5px 10px;
	-webkit-border-radius: 12px 0 0 12px;
	border-radius: 12px 0 0 12px;
	background-color: #000;
	background-color: rgba(0,0,0,0.9);
	text-align: left;
	top: 0
}


/*-----------sli-rac.css Style-----------------*/

ul#sli_autocomplete.rich .sli_ac_products li>span:after {
	content: 'This overlay is visible only on demo pages.';
	display: block
}
ul#sli_autocomplete.rich .sli_ac_products li:hover>span {
	display: block
}
ul#sli_autocomplete.rich li h2 {
	font-family: arial !important;
	font-size: 13px;
	font-weight: normal;
	background: #00437b;
	/* width:406px; */
	width: 422px; 
	float: left;
	/* margin-left:15px; */
}


/*------------NEW Media Styles for Mobile Version-----------------*/

@media screen and (max-width: 36em) {
	ul#sli_autocomplete.rich ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width:200px;
	float:right;
	
}
ul#sli_autocomplete.rich .logo {
	text-align: right;
	display:none;
}
ul#sli_autocomplete.rich li {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	width:200px;
	float:right;
	
}
ul#sli_autocomplete.rich li ul li {
	padding: 8px 20px;
	cursor: pointer
}

	ul#sli_autocomplete.rich li h2 {
	font-family: arial !important;
	font-size: 13px;
	font-weight:normal;
	background: #00437b;
	width:232px;
	float:right;

}
}