﻿@media screen and (max-width: 36em) {
	ul#sli_autocomplete.rich ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width:200px;
	float:right;
	
}
ul#sli_autocomplete.rich .logo {
	text-align: right;
	display:none;
}
ul#sli_autocomplete.rich li {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	width:200px;
	float:right;
	
}
ul#sli_autocomplete.rich li ul li {
	padding: 8px 20px;
	cursor: pointer
}

	ul#sli_autocomplete.rich li h2 {
	font-family: arial !important;
	font-size: 13px;
	font-weight:normal;
	background: #00437b;
	width:232px;
	float:right;

}
}