
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../fonts/7XUFZ5tgS-tD6QamInJTcQU404wzEgdBsmVXv_TVccA.eot) format('embedded-opentype'), url(../fonts/7XUFZ5tgS-tD6QamInJTcdGU7DQ8I6RFMlK0vgclk7w.woff) format('woff');
}

/*#container_body{
	min-height: 3000px;
}*/
img, div {
	/* behavior: url(iepngfix/iepngfix.htc); */
}
/* ############ Global CSS ############ */

* {
	padding: 0;
	margin: 0;
	outline:none;
}
body {
	background-color:#fff;
	font-family: 'Titillium Web', sans-serif;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}
p {
	line-height:20px;
	padding-bottom:10px;
}
a:active {
	outline: none;
} /* for firefox, remove border around links during on click */
a:focus {
	-moz-outline-style: none;
}/* for firefox, remove border around links during on click */
a {
	outline:none;
	text-decoration:none;
	color:#005495;
}
a:hover {
	color:#faa200;
	cursor:pointer;
}
img {
	border:none;
}
.spacer {
	padding-top:20px;
}

.clear-both{
	clear: both;
}

.clear-none{
	clear: none;
}

.paddBottom15{
	padding-bottom: 15px !important;
}

.margin-auto{
	margin: 0 auto !important;
}

.display-none{
	display: none;
}
.margin-auto{
	margin: 0px auto;
}
.marginTop10{
	margin-top: 10px;
}

.marginLeft0{
	margin-left: 0px !important;
}

.marginLeft10{
	margin-left: 10px;
}

.paddTop32{
	padding-top: 32px !important;
}
.padd32{
	padding-bottom: 32px !important;
}
.full-width-white-container{
	width: 100%;
	background-color: #FFFFFF;
/*	padding-bottom: 20px;*/
}
.full-width-blue-container{
	width: 100%;
	background-color: #F5F5F5;
/*	padding-bottom: 20px;*/
}
.center-content{
	width:1000px;
	margin: 0px auto;
}
.center-right-content{
	width: 712px;
	margin-left: 288px;
}
/*****************Containers********************/

.container, #container_header, #container_content, #container_footerwidth {
	width:1000px;
	margin:0px auto;
	/*left: 64px;*/
	
}
#container_top {
	width:auto;
	height:35px; 
	background-color: #043255; 
	background-color: #ffffff;
	color:#ccd7ed;
}
#container_header {
	/*height:103px;*/
	border-bottom: 1px solid #B3B3B3;
}
#container_banner {
	width:auto;
	margin:0 auto;
	background-color:#F5F5F5;
}
#container_about {
	background-color:#f5f7f8;
	margin:0 auto;
	height:434px;
}
.video-container {
/*	background-color:#f5f7f8;*/
	padding-top: 32px;
	padding-bottom: 32px;
	margin-top: 32px;
	margin-bottom: 32px;
/*	margin-left: 316px;*/
	width: 95%;
}

.posRel{
	position: relative;
}

.aboutVideo{
	margin-left: 32px;
}

.aboutIframe{
	width: 660px;
	height: 370px;
	margin-left: 32px;
/*	position: absolute;*/
}

.aboutVideoAnchor{
	width:660px;
	height:370px;
	position:absolute;
	top: 0px;
	left: 0px;
}

.aboutVideoDiv{
	width:660px;
	height:370px;
}

.videoPlaceHolder{
	width: 1000px;
	margin: 0px auto;
}
#container_transportation {
/*	width:1000px;*/
	background-color:#f5f7f8;
	margin:0 auto;
	padding-top:22px;
	padding-bottom:32px;
}
#container_innerbanner {
	width:1000px;
	margin:0px auto;
	margin:0 auto;
}
.tab_heading {
	font-family: 'Titillium Web', sans-serif;
	font-size:22px;
	color:#043255;
	font-weight:bold;
}
.tabcontent_img {
	float:left;
	padding-right:20px;
	margin-left:10px;
}
.support_boxcontent .tabcontent_img > img{
	height: 94px;
	width: 92px;
	margin-bottom: 20px;
}
.tabcontent_img > img, .tabcontent_img a img {
	border: 1px solid #000;
	border-right: 3px solid #FCA911;
	height: 90px;
	width: auto;
}
.tabcontent_title {
	font-family: 'Titillium Web', sans-serif;
	font-size:18px;
	color:#005495;
	font-weight:bold;
}
.tabcontent {
	font-family: 'Titillium Web', sans-serif;
	font-size:15px;
	color:#2d3237;
	font-weight:normal;
	padding-top:7px;
	line-height:20px;
	min-height: 40px;
}
.tabcontent_border {
	padding-top:16px;
	border-bottom:#cddae5 1px solid;
	width:100%;
	padding-bottom:24px;
}

.bizLineContainer{
	padding-top:30px !important; 
	padding-bottom:30px !important; 
	width: 1000px !important;
	margin: 0px auto;
}
/* ############ Header ############ */

#logo {
	float: left;
    height: 78px;
    padding: 25px 0 0;
    width: 283px;
}
#logo img{
	 border:0px; 
}
#logo .tag-line {
    float: right;
    font-size: 15px;
}

#logo .orange {
    color: #FCA911;
}
#logo .blue {
    color: #005595;
}
.navigationmenu {
	/*width:auto changed by JM 08-23-2013*/	
	/*margin-top:15px;*/
	/*
	width: 700px;
	margin-top:0px;
	float: right;
	bottom:0px;
*/
}
#partners {
	font-family: 'Titillium Web', sans-serif;
	float:right;
	height:28px;
	padding-right:20px;
	padding-top:7px;
	color:#f5f7f8;
	padding-left:20px;
	/* background-color:#0d2847; */
	font-size:14px;
}
.top_links {
	font-family: 'Titillium Web', sans-serif;
	float:right;
	height:28px;
	padding-right:20px;
	padding-top:7px;
	color:#ccd7ed;
	font-size:14px;
}
.top_links a, #partners a{
	color:#FFFFFF;
}
.top_links a:hover, #partners a:hover{
	color:#FAA200;
}
.header_icon {
	height:35px;
	width:18px;
	float:right;
	padding-right:6px;
	margin-left:16px;
}
.dealer_locator {
	background:url(../images/dealer_locator.png) no-repeat left;
}
.service_center {
	background:url(../images/service_centers.png) no-repeat left;
}
.trimble_worldwide {
	background:url(../images/trimble_worldwide.png) no-repeat left;
}

.dealer_locator_blue {
	background:url(../images/dealer_locator_blue.png) no-repeat left;
}
.service_center_blue {
	background:url(../images/service_centers_blue.png) no-repeat left;
}
.trimble_worldwide_blue {
	background:url(../images/trimble_worldwide_blue.png) no-repeat left;
}
/* ############ Footer ############ */

.container_footer {
	background-color: #043255;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 15px;
    width: auto;
    /*min-width: 1000px; removed by JM 08-23-2013*/
}
.container_footer a{
    color: #FFFFFF;
}

.container_footer a:hover{
    color: #FAA200;
}

.container_footer .container {
	width: 980px;
	/*padding-left:15px; removed by JM 08-23-2013*/
}
.footer_links {
	font-family: 'Titillium Web', sans-serif;
	float:left;
	width:192px;
	font-size:14px;

	line-height:16px;
}

.margl10 {
	margin-left:10px;
}

.marginLeft20{
	margin-left: 20px !important;
}

.footer_heading {
	font-family: 'Titillium Web', sans-serif;
	float:left;
	/*display:inline-block;removed by JM 08-23-2013*/
	width:184px;
	text-decoration:none;
	color:#FAA200;
	font-size:18px;    
}
.padd8 {
	padding-bottom:8px;
}
.footerli {
	font-family: 'Titillium Web', sans-serif;
	font-size:14px;
	line-height:25px;
	list-style:none;
	color:#cde9ff;
}
.sitemap {
	font-family: 'Titillium Web', sans-serif;
	font-size:14px;
	padding-right:13px;
}
.footer_menu {
	float:left;
	font-family: 'Titillium Web', sans-serif;
	font-size:16px;
	color:#ccd0d9;
	display:block;
	margin-top:30px;
	width:auto;
}
.links {
    display: inline-block;
}
.copyrights {
    display: inline-block;
    margin-top: 33px;
}

/* ### Left Scrolling Menu ### */
#menu1 a {
	color:#FFFFFF;
	background-color:#333333;
	text-decoration:none;
	text-indent:1ex;
}
#menu1 a:active {
	color:#FFFFFF;
	text-decoration:none;
}
#menu1 a:hover {
	color:#000000;
	background-color:#ffd800;
}
#menu1 a:visited {
	text-decoration:none;
}
/******************Main body*********************/
#container_content {
	margin:0px auto;
	padding-top:40px;
/*	padding-bottom: 32px;*/
}
#container_body {
	width:1000px;
	height:auto;
	margin:0px auto;
}
#main_container {
	width:1000px;
	float:left;
	position:relative;
	margin-bottom:30px;
}
.front_1 {
/*	padding-top:5px;*/
}
.front_1 img{
	width: 293px;
	height: 100px;
}
.front_full_image img{
	width: 293px;
	height: 200px;
}

#lhs_menu {
	width:288px;
	height:auto;
	float:left;
	position:relative;
	margin-bottom:20px;
}
#rhs_container {
	width:712px;
	position:relative;
	margin-bottom:30px;
	margin-left: 288px;
}
.breadcrumb {
	float:right;
	font-family: 'Titillium Web', sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#505661;
	height: 32px;
}
a.breadcrumb_link:link, a.breadcrumb_link:visited, a.breadcrumb_link:active {
	color:#505661;
	font-family: 'Titillium Web', sans-serif;
	text-decoration: none;
	cursor:pointer;

}
a.breadcrumb_link:after {
	content: " > ";
}
a.breadcrumb_link:hover {
	color:#faa200;
	font-family: 'Titillium Web', sans-serif;
	text-decoration: none;
	cursor:pointer;
}
.main_content {
	padding-left:30px;
	padding-top: 32px;
}
.industry_content {
	margin-top:20px;
}

.TabbedPanelsTab p {
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	width: 119px;
    word-wrap: break-word;
}

.industry_tab { 
	padding-left:35px;  
}

.main_content a { 
	color: #005495 !important; 
}
.main_content a:hover {
	color: #faa200 !important;	
}
.liasd a { 
	color: #FFFFFF !important; 
}
.liasd a:hover { 
	color: #005495 !important; 
}

.main_content p {
	padding-right:10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	padding-top:10px;
	color:#2d3237;
}
.main_content h3 {
	font-family: 'Titillium Web', sans-serif;
	font-size:30px !important;
	color: #043255 !important;
}

.main_content ul {
	padding:0px 0px 10px 20px;
	font-size:15px;
	line-height: 20px; 
}

.main_content_border {
	margin-top:10px;
	border-bottom:#f7a300 3px solid;
	width:auto;
	margin-bottom:5px;

}
.leftmenu {
	width:285px;
	background-color:#bacbd8;
	list-style:none;
	color:#243241;
	border-right:#517599 3px solid;
}
.leftmenu li {
	font-family: 'Titillium Web', sans-serif;
	font-weight:bold;
	font-size:13px;
	line-height:53px;
	border-bottom:#acbecd 1px solid;
	padding-left:20px;
}
.leftmenu li a {
	color:#243241;
}
.leftmenu li a:hover {
	color:#C60;
}
.content1 {
	border-bottom: 2px solid #FAA200;
	float: left;
	height: 251px;
	margin-bottom: 45px;
	margin-left: 35px;
	padding-bottom: 5px;
	width: 294px;
	/*border-right: 3px solid #E6E7EC;
	border-left: 3px solid #E6E7EC;*/
/*		padding: 5px;*/
	padding-left: 5px;
	padding-right: 5px;
/*		box-shadow: lightgray;*/
	box-shadow: 8px 10px 10px rgb(218, 212, 212);
}
/*.content1 h1 {
	border-bottom: 3px solid #FAA200;
	color: #053961;
	font-size: 20px;
	height: 31px;
	margin-bottom: 10px;
	width: 294px;
	text-transform: uppercase;
	border-left: none;
	border-right: none;
	background-color: #fff;
	margin-left: -5px;
	padding-left: 5px;
	padding-right: 5px;
}*/
.content1 .headerContainer {
	border-bottom: 3px solid #FAA200;
	color: #053961;
	font-size: 20px;
	height: 31px;
	margin-bottom: 10px;
	width: 294px;
	text-transform: uppercase;
	border-left: none;
	border-right: none;
	background-color: #fff;
	margin-left: -5px;
	padding-left: 5px;
	padding-right: 5px;
	display:inline-block;
}
.trimbleNewsHeader
{
    width: 230px !important;
    font-size: 20px !important;
    display: inline-block !important;
}
.quickLinksHome h1 {
	font-size: 22px;
	color:#053961;
}
.content1 h1 span {
	font-size:14px;
	line-height:33px;
	font-size: 20px !important;
}
.content1_inner {
	font-size:15px;
	line-height:18px;
	margin-top:10px;
	margin-bottom:10px;
	color:#005595;
	font-weight:normal;
}
.content1_inner span {
	color: #B4B4B4;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    padding-bottom: 5px;
}
.viewall {
	font-size:14px;
	color:#043225;
	font-weight: normal;
	display:inline-block;
	background:url(../images/right_carot.png) no-repeat right;
	width: 57px;
	text-transform: none;
}
.quickLinksHome {
	float:left;
	width:305px;
	height:260px;
}
.homeModule {
	padding-top:32px !important;
	padding-bottom: 32px;
}
.padd0 {
	padding-left: 0px !important;
}

.paddTop0{
	padding-top:0px !important;
}

.paddBottom0{
	padding-bottom: 0px !important;
}

.paddTop10{
	padding: 10px;
}

.content2{
float:left;
width:322px;
height:260px;
background:#005595;
}
.content2_inner {
	font-size:20px;
	line-height:22px;
	margin-left:31px;
	margin-right:60px;
	margin-top:30px;
	color:#FFFFFF;
}
.content2_phototext {
	margin-top:50px;
	font-size:14px;
	color:#469ee0;
	line-height:18px;
}
.content2_phototext img {
	border:2px #003a64 solid;
	float:left;
	margin-right:20px;
}
.content3 {
	width:304px;
	float: left;
	padding-left: 43px;
	padding-top: 5px;
}
.placeholder-img img{
	width: 291px;
	height: 202px;
}
.front_2 {
	background: url("../images/frontbox3_img_2.jpg") repeat scroll left center transparent;
    color: #FFFFFF;
	display: block;
	line-height: 34px;
	padding-left: 20px;
	width: 273px;
}
.front_3 {
	background: url("../images/frontbox3_img_3.jpg") no-repeat scroll right center #C54A00;
	display: block;
	color: #ffffff;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	line-height: 19px;
	padding-right: 100px;
	width: 173px;
}
#about_video {
	width:1000px;
	padding-top:32px;
	padding-bottom:10px;
	height:auto;
	margin:0px auto;
}
.paddIndustryTitle {
	padding-left:0px;
}

.industryProductImage{
	float:left !important;
	padding-right:32px !important;
}
.transportright {
	width:270px;
	float:right;
	padding-top: 5px;
}

.contentRight ul
{
    margin-top: 10px;
    margin-left: 22px;
}

.contentRight ul li{
	padding-bottom: 10px;
	list-style-position: outside;
}

.contentRight ul li a{
	color: #005495;
}

.contentRight ul li a:hover{
	color: #faa200;
}

.transportright ul{
	margin-top:10px;
}

.transportright ul li{
	padding-bottom: 10px;
}

.transportright ul li a{
	color: #005495;
}

.transportright ul li a:hover{
	color: #faa200;
}

.transportleft {
	width:980px;
	float:left;
	padding-left:10px;
}
.transportleft p {
	font-size:16px;
	padding-top:10px;
	line-height:20px;
	color:#2b3033;
}
.transportright h3 {
	font-size:22px;
	color:#053961;
}
.container_innerbanner_transport {
	width:1000px;
	margin:0px auto;
	margin:0 auto;
	height:450px;
	background:url(../images/large_banner.jpg);
	background-repeat:no-repeat;
}
.bannercontent {
	margin-top:260px;
	margin-left:713px;
	width:205px;
	height:120px;
	background-color:#005595;
	position:absolute;
	padding:20px 30px 10px 30px;
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#ffffff;
	line-height:20px;
}
.texthead3 {
	font-size:22px;
	margin-bottom:15px;
	font-weight:bold;
/*	text-align: center;
	background-color: #004479;
	color:#fff;
	height:40px;
	
	padding-top:20px;*/
}
.innertransport {
	width:1000px;
	margin:auto;
}
#transport_middle {
	width:100%;
	float:left;
	background-color:#004479;
	
}
#transport_middletitle {
	width:960px;
	margin:0px auto;
	margin:0 auto;
}
.middle1 {
	width: 30%;
	height: auto;
	margin-left: 20px;
	margin-top: 32px;
	float: left;
	margin-bottom: 32px;
	text-align: center;
}
.middle1 > img, .middle1 a span img {
	    width: 80%;
    height: auto;
	border: 1px solid #000;
	border-bottom: 3px solid #FCA911;
	/*height: 170px;
	width: 290px;*/
}
.middle-test {
	color:#F5F7F8;
	margin-top:10px;
	font-size:18px;
	font-weight:bold;
}
.middle1 p {
	font-size:15px;
	color:#F5F7F8;
	padding-top:0px;
	line-height:22px;
}
/******************Search Box*********************/
.topsearch {
	width:200px;
	margin-top:0;
	float: right;
}
.topsearch .form {
	background:url(../images/searchbg.jpg) center top no-repeat;
	width:200px;
	height:36px;
	line-height:36px;
	border:0;
	z-index:0;
	color:#999999;
	font-size:16px;
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
	margin-top:0;
}
.topsearch input {
	width:160px;
	z-index:99999;
	outline:none;
	border:0;
	color:#999999;
	font-size:16px;
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
}
.topsearch .button {
	text-indent:-5000px;
	background:url(../images/searchicon.png) right top no-repeat;
	width:30px;
	line-height:19px;
	border:0;
	margin-top:0px;
	z-index:9999;
	cursor:pointer;
}
/****************** End of Search Box*********************/
.socialicons-container {
	float:right;
	margin-top:22px;
	margin-left:0px;
}
ul.socialicons {
	list-style: none;
	overflow: hidden;
}
ul.socialicons img{
	height: 32px;
	width: 32px;
}
ul.socialicons li{
	display: inline-table;
	*display: inline;
	zoom: 1;
}
ul.socialicons li a {
	height: 27px;
	width: 32px;
	float: left;
	margin-right: 3px;
}



/******************IndustryPage CSS*********************/

.industry {
	margin-bottom:30px;
}
.industry_content {
	padding-top:64px;
}
.industryleft {
	width:700px;
	float:left;
	margin-bottom: 10px;
/*	padding-left:10px;*/
}
.industryleft p {
	font-size:16px;
	padding-top:10px;
	line-height:18px;
	color:#2b3033;
}
.innerindustry {
	margin-bottom:100px;
}
.industryright {	
    width: 21%;
    float: right;
    margin-top: 14px;
    padding-left: 10px;
}
.industrybox {
	width:100%;
	margin-top:15px;
	height:140px;
	background-color:#043255;
	padding:20px;
}
.industry .contentRight
{
    width: 22% !important;
}
.industrybox h3 {
	color:#FFF;
	font-size:18px;
}
.industrybox p {
	font-size:14px; /* edit by JS 6-20-2019 */
	line-height:18px;
	color:#FFF;
	padding-top:10px;
}
.category1 h3 {
	font-size:16px;
	font-weight:bold;
	margin-bottom:15px;
}
.product1 {
	margin-top:0px;
	margin-bottom:10px;
}
.productleft {
	width:150px;
	float:left
}
.productleft img {
	border-left:#a0a0a0 1px sold !important;
}
.productright {
	width:500px;
	float:left;
	padding-left:25px;
}
.productright h2 {
	font-size:14px;
	color:#6996bb;
}
.productright p {
	padding-top:5px;
	font-size:13px;
	line-height:18px;
}
.border2 {
	border-bottom:#cddae5 1px solid;
	height:16px;
	clear:both;
	margin-bottom:16px;
}
.locate {
	width:180px;
	padding:5px 5px 5px 20px;
	background-color:#ffaf1e;
	color:#FFF;
	margin-top:10px;
}
.locate a {
	color:#FFF;
	font-weight:bold;
}
/******************SteeringPage CSS*********************/


.innerleft {
	float:left;
	border-right:2px solid #45658a;
	background:#cddae5;
	margin-right:34px;
}
.verticlemenu_bottom {
	padding:20px 20px;
	border-bottom:1px #aabfcf solid;
}
.verticlemenu_bottom h1 {
	color:#426782;
	font-size:14px;
	padding-bottom:15px;
}
.left_socialbookmarks {
	padding:0 0 20px 20px;
}
.left_socialbookmarks h1 {
	line-height:40px;
	font-size:13px;
	font-weight:normal;
	color:#426782;
}
.verticlemenu_bottomlists {
	font-size:15px;
	color:#043255;
}
.verticlemenu_bottomlists li {
	font-size:15px;
	color:#043255;
	line-height:35px;
}
.verticlemenu_bottomlists li#file {
	list-style-image:url(../images/file_icon.jpg);
	list-style-position:inside;
}
.verticlemenu_bottomlists li#play {
	list-style-image:url(../images/play_icon.jpg);
	list-style-position:inside;
}

.content1 ul{
	font-size:15px;
	color:#043255;
}

.content1 ul li:first-child{
	margin-top: 15px;
}

.content1 ul li{
	font-size: 15px;
	color: #043255;
/*	line-height: -1px;*/
/*	background-color: #f5f7f8;*/
/*	padding-top: 13px;*/
/*	padding-bottom: 3px;*/
/*	padding-left: 10px;*/
	margin-top: 12px;
/*	border: 2px solid #f2f2f2 !important;*/
}

li.doc {
	list-style-image:url(../images/doc.png);
	list-style-position:inside;
}
li.video {
	list-style-image:url(../images/video.png);
	list-style-position:inside;
}
li.pdf {
	list-style-image:url(../images/pdf.png);
	list-style-position:inside;
}
li.email {
	list-style-image:url(../images/email.png);
	list-style-position:inside;
}
li.internal-website {
	list-style-image:url(../images/internal-website.png);
	list-style-position:inside;
}
li.external-website {
	list-style-image:url(../images/external-website.png);
	list-style-position:inside;
}

.content1 ul li a {
	font-size:15px;
	color:#005495;
	vertical-align: bottom;
}
.content1 ul li a:hover {
	font-size:15px;
	outline:none;
	text-decoration:none;
	color:#faa200;
}
/* Top level menu links style */
.sidebarmenu ul li a {
	display: block;
	overflow: auto; /*force hasLayout in IE7 */
	color: #263044;
	text-decoration: none;
	padding: 6px;
	padding-left:15px;
	border-bottom: 1px solid #aabfcf;
	border-right: 1px solid #aabfcf;
}
.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active {
	background-color: #bacbd8; /*background of tabs (default state)*/
}
.sidebarmenu ul li a:visited {
	color: #263044;
}
.sidebarmenu ul li a:hover {
	background-color: #829aad;
	color:#FFFFFF;
}
/*Sub level menu items */
.sidebarmenu ul li ul {
	position: absolute;
	width: 170px; /*Sub Menu Items width */
	top: 0;
	visibility: hidden;
}
.sidebarmenu a.subfolderstyle {
	background: url(../images/right.gif) no-repeat 97% 50%;
}
/* Holly Hack for IE \*/
* html .sidebarmenu ul li {
	float: left;
	height: 1%;
}
* html .sidebarmenu ul li a {
	height: 1%;
}
/* Left-sidebarmenu END */







.rightcontent {
	float:right;
	width:670px;
}
.rightcontent_brandscribe {
	float:right;
	padding-top:10px;
	padding-bottom:10px;
}
.rightcontent_brandscribe li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:left;
	display:block;
	text-align:right;
	padding-left:20px;
}
.rightcontent_brandscribe li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
}
.rightcontent_brandscribe li a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FF9900;
}
.rightcontent_contentarea {
	width:100%;
	border:0;
	margin-top:32px;
}
.rightcontent_contentarea h1 {
	display:block;
	font-size:30px;
	color:#043255;
	border-bottom:2px #faa200 solid;
	line-height:30px;
}
.rightcontent_contentarea h1 span {
	display:block;
	font-size:18px;
	color:#043255;
	font-weight:normal;
	padding-bottom:8px;
}
.rightcontent_contentarea_left {
	width:444px;
	float:left;
	margin-top:20px;
}
.rightcontent_contentarea_left p {
	line-height:23px;
	margin-bottom:10px;
}
.rightcontent_contentarea_divider {
	float:left;
	width:1px;
	background:#e5e7ec;
	margin-left:20px;
	margin-right:10px;
	display:block;
	position:relative;
	height:230px;
	margin-top:20px;
}
.rightcontent_contentarea_right {
	width:195px;
	float:right;
	margin-top:20px;
}
.rightcontent_contentarea_right p {
	font-size:20px;
	color:#c54a00;
	margin-bottom:10px;
	line-height:30px;
	padding-left:10px;
	padding-right:10px;
}
.buttoans {
	background:url(../images/liasd.png);
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	width:244px;
	height:40px;
	display:block;
	margin-top:20px;
}
.buttoans a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	width:244px;
	line-height:40px;
	background:none;
	padding-left:20px;
	text-decoration:none;
	color:#FFFFFF;
}
.buttoans a:hover {
	font-family:Arial, Helvetica, sans-serif;
	background:none;
	color:#660000;
	text-decoration:none;
}
/* Product Home/Module Screens Styles \*/

.contentLeft{
	width: 66%;
	vertical-align: top;
	/*float: left;*/
	display: inline-block;
}

.contentLeftWidth
{
    /*width:444px !important; */   
	width:65% !important; 
}

.higlightsWidth
{
    width: 417px !important;
}

.contentRight {
	width:28%;
	padding-left: 5px;
	padding-top:10px;
	/*border-left: 1px solid #f2f2f2;*/
	vertical-align: top;
	margin-left: 15px;
	/*float: left;*/
	display: inline-block;
}
.table{
	display: table;
}
.table-cell{
	display: table-cell;
}
.contentRight .industrybox{
	margin-top: 6px;
	height: auto;
	max-height: 317px;
}

.contentRight .industrybox h3{
	color: #fff !important;
	font-size: 18px !important;
}

.main_content_border_left {
	margin-top:10px;
	border-left:#f2f2f2 1px solid;
	height:353px;
	margin-bottom:10px;
	/*float: left;*/
	margin-left:5px;
	display: inline-block;
}
.productHomeQuote {
	font-size: 18px;
	color: #C54A00;
	font-style: italic;
}
.featuredProduct {
	width: 100%;
	/*height:230px;*/
	background-color: #093355;
	padding: 10px;
	/*width: 662px;*/
}
/*.featuredProductImage {
	width: 302px;
	height: 194px;
	padding-top: 7px;
}*/
.categoryTitles {
	width: 100%;
	padding-top:10px;
}
.cs-buttons {
	margin-top: -32px;
	left:83% !important;
}
.categoryProducts {
	width: 45%;
	height: auto;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #F6F7F9;
	margin-right: 19px;
	margin-bottom: 19px;
	display: inline-block;
	vertical-align: top;
}
.categoryTitles .categoryProducts:nth-of-type(even){
	/*margin-right: 0px; JM12-20-2020 */
}
.categoryProductImage {
	height: 194px;
    margin-bottom: 10px;
    width: 307px;
}
.categoryProductTitle {
	background: url("../images/blue_arrow_small.png") no-repeat scroll right center transparent;
	font-size: 17px;
	color: #005495;
	font-weight:600;
	padding-left: 15px;
	padding-right: 20px;
	display: inline-block;
}
.categoryProductDescription {
	font-size: 15px;
	color: #2D3237;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
}
.categoryTitleHeading {
	clear: both;
	padding-bottom: 10px;
	padding-top: 5px;
	font-weight: bold;
	font-size:22px;
	color: #043255;
	width: 78%;
	display:inline-block;
}
.categoryComparison {
	font-size: 14px;
	color: #677D8D;
	text-align: right;
	width: 100%;
}
.productsContainer {
/*	background-color: #f5f7f8;*/
	margin: 0 auto;
	margin-top: 64px;
	margin-bottom: 34px;
}
.productsContainer2 {
	margin: 0 auto;
	background-color: #fff;
}
.productsContainer3 {
/*	background-color: #f5f7f8;*/
	margin: 0 auto;
/*	margin-top: 32px; */
/*	min-height:750px;*/
}
.productContainerRHS {
	width: 288px;
	height: auto;
	position: relative;
	margin-bottom: 20px;
}
.productsMainContainer {
	position: relative;
	padding-top: 0px;/*padding-left: 288px*/
	padding-bottom: 22px;
}

.completeWidth{
	width: 1000px !important;
	margin-left: 0px !important;
}

.padding30 {
	padding-left:30px;
}
.autoWidth {
	width: auto !important;
}
.featuredProductHeading {
	clear: both;
	color: #fff;
}
.featuredProductHeading {
	background: url("../images/white_arrow.png") no-repeat scroll right center transparent;
	color: #fff;
	padding-right: 20px;
	font-size: 18px;
	padding-left:10px;
}
.featuredProductTitle {
	color: #fff;
	font-size: 18px;
	padding-right: 20px;
}
.featuredProductDescription {
	color: #fff;
	font-size: 15px;
	padding-top: 5px;
	padding-right: 10px;
}
.featuredProductContainer {
	/*width: 48%;*/
	height: 100%;
	/*float: left;*/
	vertical-align: center;
}
.featuredProductDescriptionContainer {
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.productSet4{
	margin-right: 6px;
	padding:5px !important;
}

.padd20{
	padding-top: 20px !important;
}
.padd12{
	padding-top: 12px !important;
}

.paddRight20{
	padding-right:20px;
}

.paddLeft20{
	padding-left: 20px;
}

.prodFamilySet3Container{
	height:auto;
	width:45%;
	padding:0px;
	border: 2px solid #d8dee2;
	display:inline-block;
	margin-right:12px;
	margin-bottom:22px;
}
.categoryTitles .prodFamilySet3Container:nth-of-type(even){
	margin-right: 0px;
}
.prodFamilySet3Content{
	min-height:215px;
	padding:10px;
	font-size:14px;
	background-color: #fff;
}

.prodFamilySet3Title{
	height:25px;
	background-color: #093355;
	padding:5px;
	padding-left:10px;
	color:#fff;
}

/*VJ - 7/14/2014*/
.prodFamilySet3Title a{
	color:#FFFFFF;
}

.prodFamilySet3Title a:hover{
	color:#FAA200;
}


.productSet2-withBg{
	padding-left: 32px;
	padding-bottom: 22px;
	padding-top: 0px;
}

.productSet2-withoutBg{
	padding-left: 32px;
/*	padding-bottom: 32px;*/
	padding-top: 0px;
}

.arrowImg{
	margin-left:10px;
}

/*.listProdWidth{*/
.productSet4 {
	width: 225px !important;
	height: 265px
}

.listProdImgWidth{
	height: 136px !important;
}
/* Product Home Screen Styles \*/

.bizLineTabPanel{
	/*width:50%;*/
	width:100%;
	float:left;
	position:relative;
}


/*Anand*/


/*Media Template Page*/

.media_rbContainer{
	background-color: #f2f2f2;
	width: 100%;
	height: 138px;
	margin-top: 32px;
}
.media_select select {
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
	font-size:14px; Color: #043255;
}

.media_radiobutton {
	float:left;
	padding-right:10px;
	margin-left:10px; padding-top:30px;
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
	font-size:16px;
}
.media_radiobutton h{
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
	font-size:18px; 
	font-weight:bold;
	color:#043255;
	
}
.media_select {
	float:left;
	padding-right:10px;
	margin-left:10px; padding-top:20px;
	font-family:'Titillium Web', Arial, Helvetica, sans-serif;
	font-size:16px;
}

.media_border {
	padding-top:20px;
	border-bottom:#CCCCCC 1px solid;
	width:100%;
	padding-bottom:10px;
}

/*Support Page*/

.supportContainer {
	background-color: #f5f7f8;
	margin: 0 auto;
/*	margin-top: 32px; */
	height:auto;
}

.supportproducts { 
	width: 32%;
	padding: 1px;
	margin-right: 2px;
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
}

.supportproductimage {
	height:auto; 
	width:100%;
	margin-bottom:10px;

	border: 1px solid #000;
	border-bottom: 3px solid #FCA911;
}


.supportproducts2 {
	float:left;
	width: 25%;
/*	 padding-top:30px;*/
	margin-right: 2px;
/*	margin-bottom: 20px;*/
	display: inline-block;
	vertical-align: top; 
/*	padding-left:30px;*/
}


.supporttab_link {
	font-size: 16px;
	color: #8B8E94;
/*	font-weight: bold;*/
	padding-left: 0px;
	padding-right: 0px;
	font-family: 'Titillium Web', sans-serif;
	line-height:17px;
	list-style:none;
	
}

.supporttitles {
	width: 100%;	
	border-bottom:1px solid #94adbf;
}


.supportproducts3 {
	width: 45%;
	padding-top: 5px;
	margin-left: 20px;
/*	margin-right: 20px;*/
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
	background-color: #CDDAE5; 
	height: 100px;
}

.support_title {
	font-family: 'Titillium Web', sans-serif;
	font-size:18px;
	color:#043255;
	font-weight:bold;padding-left:10px;
}

/*.support_content_border {
	margin-top:10px;
	border-bottom:#f7a300 2px solid;
	width:100%;
	margin-bottom:10px;
}*/

.supportcontent {
	width: 100%;
	 padding-top:5px;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: top; padding-left:10px;
}

.supportcontent_link {
	font-family: 'Titillium Web', sans-serif;
	font-size:15px;
	color:#005495;
	font-weight:bold;
	line-height:30px;
	list-style:none;
}

.supportbox{
	display: inline-block;
}

.support_boxcontent {padding-top:20px;
/*	margin-left:30px;*/
	background-color:#f5f7f8;
	margin-top:30px;
}



/*Product Detail Page*/

.product_detail
{ 
margin-top:20px;
margin-bottom:30px;
}

.product_detail_img {
	padding-left: 0px;
	width: 196px; 
	height: 150px; 
}
/*.product_detail .product_detail_img:first-child{
	padding-left: 0px;
}*/
.product_content {  
padding: 20px 0px 20px 30px;
background-color:#f5f7f8;
}

.product_content p {
	padding-right:10px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	color:#2b3033;
	padding-left:10px;
}

.product_content ul {
	padding-left:30px;
	line-height:30px;
	padding-bottom:10px;
 
}
.productfamily_title {
	font-family: 'Titillium Web', sans-serif;
	font-size:14px;
	color:#677d8d;
}

.prod_img {
	width:auto;
	height:auto;
	/* width:435px;
	height:340px; */
	float:right; 
/*background-color:#3F3F3F;*/
}
.prod_img img {
	width: 66px;
	height: 66px;
}
.highlights {
	width: 64%;
	float:left;
	position:relative; 
	padding-left:32px;
	margin-bottom: 32px;
	margin-top: 10px;
	border-right: 1px solid #f2f2f2;
}

.quoteWidth{
	width: 19% !important;
}

.quoteWidth img{
	width: 200px;
	height: 160px;
}

.highlights_border {
	margin-top:10px;
	border-left:#f2f2f2 1px solid;
	height:358px;
/*	margin-bottom:10px;*/
	float: left;
	margin-left:5px;
}

/*.highlights_quote {
	font-family: 'Titillium Web', sans-serif;
	font-size:16px;
	width: 200px;
	float:left;
	position:relative; 
	padding-left:20px; padding-top:100px;
	
}*/

.high_heading {
	font-family: 'Titillium Web', sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#105283;
	margin-top: -8px;
}

.high_li {
	font-family: 'Titillium Web', sans-serif;
	font-size:14px;
	margin:0px;
	padding:0px;
	padding: 5px 10px 0px 30px;
}

.high_li li{
	padding:5px;

}


.menuheader_border {	
	border-bottom:#cfcfcf 3px solid;
		width:auto;
	margin:0 auto;

}



/* Product Gallery Slide Show */

#myGallery { display: none; }

.gv_galleryWrap { position: relative; font-size: 10pt; }


.gv_gallery { overflow: hidden; position: relative; z-index:0;}

.gv_imageStore { visibility: hidden; position: absolute; top: -10000px; left: -10000px; }

.gv_panelWrap { filter: inherit; position: absolute; overflow: hidden; }

.gv_panel-loading { background: url(../images/img-loader.gif) 50% 50% no-repeat #aaa; }
.gv_frame-loading { background: url(../images/img-loader.gif) 50% 50% no-repeat #aaa; }

.gv_panel { filter: inherit; position: absolute; top: 0; left: 0; overflow: hidden; z-index: 100; }
.gv_panel img { position: absolute; }

.gv_overlay { position: absolute; background: #222; color: white; z-index: 200; }
.gv_showOverlay { 
	position: absolute; 
	width: 20px; 
	height: 20px; 
	background: url(../images/info.png) #222; 
	cursor: pointer;
	z-index: 200;
}
.gv_overlay h4 { color: white; margin: 1em; font-weight: bold; }
.gv_overlay p { color: white; margin: 1em; }

.gv_infobar {
	background: #222;
	padding: 0 0.5em;
	line-height: 1.5em;
	height: 1.5em;
	font-size: 10pt;
	font-weight: bold;
	color: white;
	
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
	vertical-align: middle;
	z-index: 2000;
	
}

.gv_filmstripWrap { overflow: hidden; position: absolute; }


/* FILMSTRIP */
.gv_filmstrip { margin: 0; padding:5px;   position: absolute; top: 0; left: 0; }

/* FILMSTRIP FRAMES (contains both images and captions) */
.gv_frame { 
	cursor: pointer;
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
}

/* WRAPPER FOR FILMSTRIP IMAGES */
.gv_frame .gv_thumbnail { position: relative;overflow: hidden !important; }

/* WRAPPER FOR CURRENT FILMSTRIP IMAGE */
.gv_frame.current .gv_thumbnail {}

/* FRAME IMAGES */
.gv_frame img { border: none; position: absolute; }

/* FRAME CAPTION */
.gv_frame .gv_caption { height: 14px; line-height: 14px; font-size: 10px; text-align: center; color:white; }

/* CURRENT FRAME CAPTION */
.gv_frame.current .gv_caption { }

/* POINTER FOR CURRENT FRAME */
.gv_pointer {
	border-color: black;
}

/* NAVIGATION BUTTONS */
.gv_navWrap {
	text-align: center;
	position: absolute;
}
.gv_navPlay,
.gv_navPause,
.gv_navNext,
.gv_navPrev {
	
	opacity: 0.6;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	filter:alpha(opacity=30);
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: middle;
}
.gv_navPlay:hover,
.gv_navPause:hover,
.gv_navNext:hover,
.gv_navPrev:hover {
	opacity: 0.8;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	filter:alpha(opacity=80);
}

.gv_panelNavPrev,
.gv_panelNavNext {
	position: absolute;
	display: none;
	opacity: 0.50;
	-moz-opacity: 0.50;
	-khtml-opacity: 0.50;
	filter:alpha(opacity=50);
	z-index: 200;
}

.gv_panelNavPrev:hover,
.gv_panelNavNext:hover {
	opacity: 0.9;
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	filter:alpha(opacity=90);
}
/*
.gv_navPlay {
	height: 30px;
	width: 30px;
	cursor: pointer;
	background: url(../images/play-big.png) top left no-repeat;
}
.gv_navPause {
	height: 30px;
	width: 30px;
	cursor: pointer;
	background: url(../images/pause-big.png) top left no-repeat;
}
.gv_navNext {
	height: 20px;
	width: 20px;
	cursor: pointer;
	background: url(../images/next.png) top left no-repeat;
}
.gv_navPrev {
	height: 20px;

	width: 20px;
	cursor: pointer;
	background: url(../images/prev.png) top right no-repeat;
}*/
.gv_panelNavNext {
	height: 20px;
	width: 20px;
	cursor: pointer;
	background: url(../images/panel-next.png) top left no-repeat;
}
.gv_panelNavPrev {
	height: 20px;
	width: 20px;
	cursor: pointer;
	background: url(../images/panel-prev.png) top right no-repeat;
}

/*Editorial Template*/
.rhs-tab {
	margin-left: 30px;
	margin-top: 30px;
}


.tab-button-link{
	background-color: #FCA911;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	width: auto;
	height:40px;
	line-height:40px;
	padding: 5px 10px;
	text-decoration:none;
	color: #FFFFFF;
	display: inline-block;
	margin-top:5px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.tab-button-link:hover{
	color: #FFFFFF;
}

.rhs-tab .editorial_content {
	padding-left: 0px;
	padding-top: 30px;
}

.rhs-tab .editorial_content .tab_heading, .rhs-tab .solutions .tab_heading{
	font-size: 18px;
}

.rhs-tab .editorial_content .tab_sub_heading {
	font-size: 16px;
}

 .list-items {
	padding-left: 20px;
	padding-top: 20px;
}

.list-items ul li:before{ 
	content:"-"; 
	position:relative; 
	left:-5px;
}
.list-items ul li {
	margin-left: 10px;
	list-style: none;
	 text-indent:-5px;
}

.solutions {
    padding-top: 20px;
}

.solutions_img {
   float:left; margin-right:20px;
}


.solutions div {
	display: inline-block;
	padding-left: 10px;
    vertical-align: top;
    width: 650px;
}

.indexPlaceholderType {
	width: 252px;
	background-color: #005495;
	padding: 20px;
	height: 162px;
}

.indexPlaceholderType h3{
	color: #fff;
}

.indexPlaceholderType p{
	padding-top:10px;
	color: #fff;
}

.lpad10{
	padding-left: 10px;
}

.bannerText{
	position: absolute;
	width: 100%;
	top: 100px;
	left: 30px;
}

.bannerTextPosition{
	right: 50px !important;
}

.bannerTextHeading{
	font-size: 1.0em !important;
}

.bannerTextSubHeading{
	font-size: 0.7em !important;
}

.industryTabHeadingText{
	vertical-align: middle;
	height: 56px;
	width: 135px;
	display:table-cell;
	text-align: center;
}
.containerWidth{
	width: 1000px !important;
}
#container_body {
    width:100%;
  }
  /*#rhs_container {
    width:100%;
  }*/
  .sidebar-container {
    position: absolute;
  }

  /*#rhs_container {
    float: left;
  }*/
  
  .positionRel{
  	position:relative !important;
  }
  
  .industry_tab .TabbedPanelsContentGroup .TabbedPanelsContent{
/*  	background-color:#f5f7f8;*/
  	margin:0 auto;
  	padding: 20px 0px 20px 0px;
  }
  
  
  .industry_tab .TabbedPanelsContentGroup .TabbedPanelsContent .supporttab_link li{
  	margin-left: 20px;
/*	width: 198px;*/
	margin-bottom: 20px;
  }
  
  .placeholderText{
  	padding-top: 10px;
	font-size: 15px;
	color: #005595;
  }
  
  .container_footer .footer_heading a 
	{ 
	color:#faa200; 
	} 
	
	.container_footer .footer_heading .footer_links a 
	{ 
	color:#ffffff; 
	}
	
	.container_footer .footer_heading .footer_links a:hover 
	{ 
		color:#faa200; 
	}
	
	.gray-transparant-bg{
		background: url(../images/tran_slide_bg.png);
	}

	.bannercontentRB {
		margin-top:280px;
		margin-left:715px;
		width:205px;
		height:120px;
		position:absolute;
		padding:20px 30px 10px 30px;
		font-family:'Titillium Web', Arial, Helvetica, sans-serif;
		font-size:18px;
		color:#ffffff;
		line-height:20px;
	}
	
	.bannercontentTR {
		margin-top:20px;
		margin-left:715px;
		width:205px;
		height:120px;
		position:absolute;
		padding:20px 30px 10px 30px;
		font-family:'Titillium Web', Arial, Helvetica, sans-serif;
		font-size:18px;
		color:#ffffff;
		line-height:20px;
	}
	.bannercontentTL {
		margin-top:20px;
		margin-left:20px;
		width:205px;
		height:120px;
		position:absolute;
		padding:20px 30px 10px 30px;
		font-family:'Titillium Web', Arial, Helvetica, sans-serif;
		font-size:18px;
		color:#ffffff;
		line-height:20px;
	}
	.bannercontentBL {
		margin-top:280px;
		margin-left:20px;
		width:205px;
		height:120px;
		position:absolute;
		padding:20px 30px 10px 30px;
		font-family:'Titillium Web', Arial, Helvetica, sans-serif;
		font-size:18px;
		color:#ffffff;
		line-height:20px;
	}
	
	/*.listProdWidth img{ */
	.productSet4 img{
        /*height:194px;*/
		height: 144px !important;
	}
	
	.randomizedFullImage{
		height: 200px !important;
	}
	
	/*****Product details Slideshow*****/


.slider1 .al, .slider1 .ar, .slider1 .aldn, .slider1 .ardn, .slider1 .alhv, .slider1 .arhv
{
position: absolute;
cursor: pointer;
display: block;

overflow:hidden;
}
/*.slider1 .al { background: url(../images/panel-prev.png) no-repeat; }
.slider1 .al:hover, .slider1 .alhv { background: url(../images/prev.png) no-repeat; }
.slider1 .aldn { background: url(../images/panel-prev.png) no-repeat;}
.slider1 .ar { background: url(../images/panel-next.png) no-repeat;}
.slider1 .ar:hover, .slider1 .arhv {background: url(../images/next.png) no-repeat; }
.slider1 .ardn {background: url(../images/panel-next.png) no-repeat;}*/

.slider1-T .w, .slider1-T .pav:hover .w, .slider1-T .phv .w
{
position: absolute;
WIDTH: 66px;
HEIGHT: 66px;
border: white 1px dashed;
}
* html .slider1-T .w
{
WIDTH /**/: 66px;
HEIGHT /**/: 66px;
}
.slider1-T .pdn .w, .slider1-T .pav .w
{
border-style: solid;
}
.slider1-T .c
{
WIDTH: 66px;
HEIGHT: 66px;
FILTER:  alpha(opacity=45);
opacity: .45;

transition: opacity .6s;
-moz-transition: opacity .6s;
-webkit-transition: opacity .6s;
-o-transition: opacity .6s;
}
.slider1-T .p:hover .c, .slider1-T .phv .c, .slider1-T .pav .c
{
FILTER:  alpha(opacity=0);
opacity: 0;
}
.slider1-T .p:hover .c, .slider1-T .phv .c
{
transition: none;
-moz-transition: none;
-webkit-transition: none;
-o-transition: none;
}

.slider1 .ali, .slider1 .ari, .slider1 .alidn, .slider1 .aridn, .slider1 .alihv, .slider1 .arihv
{
position: absolute;
cursor: pointer;
display: block;

overflow: hidden; width:350px; 
}
/*.slider1 .ali { background: url(../images/panel-prev.png) no-repeat;}
.slider1 .ari { background: url(../images/panel-next.png) no-repeat;}
.slider1 .ali:hover, .slider1 .alihv {background: url(../images/panel-prev.png) no-repeat; }
.slider1 .ari:hover, .slider1 .arihv { background: url(../images/panel-next.png) no-repeat; }
.slider1 .alidn { background: url(../images/panel-prev.png) no-repeat; }
.slider1 .aridn { background: url(../images/panel-next.png) no-repeat;}*/

.paddLeft10{
	padding-left: 10px !important;
}

.featuredProductImageContainer img{
	width: 100%;
	height: auto;
	margin-top: 7px;

	border: 1px solid #000;
	border-bottom: 3px solid #FCA911;
}

.marginTop32{
	margin-top: 32px !important;
}

.transportright .heading span{
	font-size: 22px;
	color: #053961;
	font-weight: bold;
}

.contentRight .heading span{
	font-size: 22px;
	color: #053961;
	font-weight: bold;
}

.middle-test span{
	color: #fff;
}

.productfamily_title a{
	color:#005595;
}

.paddingTop10{
	padding-top: 10px;
}

.categoryProducts > a img{
	margin-bottom: 8px !important;
	/*width: 304px;
	height: 190px;*/
	width: 100%;
	height: auto;
	border: 1px solid #000;
	border-bottom: 3px solid #FCA911;
}

/*.categoryProducts.productSet4.listProdWidth a > img {*/
.categoryProducts.productSet4 a > img {
	border: 1px solid #000;
	border-bottom: 3px solid #FCA911;
	height: 190px;
	width: 225px;

}
.marginTop32minus{
	margin-top: -32px;
}

.marginBottom32minus{
	margin-bottom: -32px;
}

.tabcontent_title a 
{ 
	color: #043355; 
} 

.paddingBottom0 
{ 
	padding-bottom: 0px !important; 
} 

.description a 
{ 
	color: #263044; 
} 

.featured-solutions img 
{ 
	padding-bottom: 10px; 
}



/******************END OF CSS*********************************/

/******************END OF CSS*********************/

/*********************** Product details new slider - Venki ***********************/
.fl{
	float: left;
}
.prod_slides {
	display: inline-block;
	/*width: 296px;*/
	position: relative;
	margin-bottom: 32px;
}
.prod_slides .light-box.cboxElement > span {
    background: url("../images/tran_slide_bg.png") repeat scroll 0 0 transparent;
    color: white;
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 270px;
    width: 97%;
    font-size: 15px;
    font-style: italic;
	margin-left:4px;
}
.prod_slides a.light-box img{
	float: left;
	height: 288px;
	width: 288px;
	margin:4px;
	/*margin-top: 8px;*/
}
.prod_slides .prod_img a img{
	display: none;
}

.prod_slides .prod_img > img{
	margin-right: 8px;
	margin-top: 5px;
	cursor: pointer;
}
.prod_slides .prod_img > img:lastChild{
	margin-right: 0px;
}
/*
deleted by Jimmy M. 04/03/2014
#colorbox img.cboxPhoto{
	width: 570px !important;
	height: 570px !important;
	margin-top: 5px !important;
}

#cboxLoadedContent img{
	width: 700px !important;
	height: 500px !important;
}
*/
.marginTop0{
	margin-top: 0px !important;
}
.marginTop40 {
	margin-top: 40px !important;
}

.biz_lineLeft {
	float:left;
	width:660px
}
.biz_lineLeft a, .biz_lineLeft a:link, .biz_lineLeft a:active, .biz_lineLeft a:visited {
	color: #005495;
}
.biz_lineLeft a:hover {
	color: #faa200;
}
.fsm-homecontent{ 
	border-bottom: 2px solid #FAA200; 
	float: left; 
	height: 251px; 
	margin-bottom: 45px; 
	margin-left: 35px; 
	padding-bottom: 5px; 
	width: 192px; 
	padding-left: 5px; 
	padding-right: 5px; 
	box-shadow: 8px 10px 10px rgb(218, 212, 212); 
}

.featured-solutions .video-container{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px;
	width: 244px;
	border-bottom: 1px solid #aabfcf;
}

.featured-solutions .video-container .aboutVideo{
	margin-left: 0px;
}

.featured-solutions .video-container .aboutVideo img{
	width: 244px !important;
	height: 170px !important;
/*	margin-left: 0px !important;*/
}

.featured-solutions .video-container .aboutIframe{
	width: 244px !important;
	height: 170px !important;
	margin-left: 0px !important;
}
.featured-solutions .video-container .aboutVideoAnchor{
	width: 244px !important;
	height: 170px !important;
}
.featured-solutions .video-container .aboutVideoDiv{
	width: 244px !important;
	height: 170px !important;
}
.bizLineTabPanel2 {
		width: 100%;
		float: left;
		position: relative;
	}
	
	.bizLineItemContainer{
		padding-bottom: 20px;
		border-bottom: 1px solid #cddae5;
		display: inline-block;
		width: 100%;
	}
	
	.bizLineResourcesContainer{
		width: 19%; 
		float: left; 
		margin-left: 20px;
	}
	
	.resourcesBulletList{
		margin-left: 20px; 
/*		list-style-image: */
		list-style-image:url(../images/list-arrow.png);
	}
	.resourcesBulletList a{
		color: #005495;
		font-size:14px;
	}
	.resourcesBulletList a:hover{
		color: #FAA200;
		font-size:14px;
	}
	.resourceHeading{
		font-weight: bold;
		color: #005495;
	}
	
	.bizLineContent2{
		width:60%;
		float:left;
	}
	
	.bizLineTabPanel2 div:last-child{
		border-bottom: none;
	}
	
	.bizLineTabPanel div:last-child{
		border-bottom: none;
	}
	
	.productsContainer div:last-child{
		border-bottom: none;
	}
	
	.productsContainer2 div:last-child{
		border-bottom: none;
	}
	
	.TabbedPanelsContent_bg div:last-child{
		border-bottom: none;
	}
	
	.listTempContentRight{
		margin-top: -88px;
		margin-left: 46px;
		width:26%;
	}
	
	.listBorderWidth{
		width:70%;
	}
	
	.list-items ul li{
		width: 100% !important;
	}
/*********************** End of Product details new slider - Venki ***********************/
/*
.middle1 img{
	border-bottom: 3px solid #faa200;
}*/


.supporttab_link li{
	width: 30% !important;
}

.TabbedPanelsContent ul li{
	width: 100%;
}

.TabbedPanelsContent a, .TabbedPanelsContent ul li a {
	color: #005495 !important;	
}

.TabbedPanelsContent a:hover, .TabbedPanelsContent ul li a:hover{
	color: #faa200 !important;	
}

.TabbedPanelsContent p {
	/* padding: 0px 0px 0px; changed by JS 08-8-2018 */ 
	margin: 0px; 
	outline: none; 
	line-height: 20px; 
	font-family: 'Titillium Web', sans-serif; 
	color: #2b3033;
	font-size:15px;	/*jlm*/
}

.TabbedPanelsContent ul{
	padding: 0px 0px 10px 20px; 
	margin: 0px; 
	outline: none; 
	line-height: 20px; 
	font-family: 'Titillium Web', sans-serif;
	font-size:15px;	/*jlm*/
}

.TabbedPanelsContent ol{
	padding: 0px 0px 10px 20px; 
	margin: 0px; 
	outline: none; 
	line-height: 20px; 
	font-family: 'Titillium Web', sans-serif;
	font-size:15px;	/*jlm*/
}

.bizLineResourcesContainer ul li{
	width: 100% !important;
}

.marginBottom32{
	margin-bottom: 32px !important;
}

.leftContentContainer .contentLeft {
border-right: #f2f2f2 1px solid;
}

.contentRight img {
	width: 100% !important;
	height: 200px !important;
}

.industryRight img {
    width: 100%;
    height: 200px;
}

.aboutPlaceholder
{
    width: 96%;
    height: 100%;
}

.prodCategory_withoutImg 
{ 
	height: 100px !important; 
} 

.industryCategory_withoutImg 
{ 
	width: 100% !important; 
}

.solutions .right_col {
    float: left;
    width: 68% !important;
}

.table{
	border: 1px solid #b3b3b3;
}

.tableSubHeader{
	background-color: #abbdca;
}

.tableSubHeader p{
	color: #434b4c;
}

.tableProductHeader{
	font-size: 15px;
}

.table p{
	padding: 7px;
	font-size: 15px;
}

.main_head a{
	width: 180px !important;
}

.topNavContainer{
	width: 100%;
	
	/* Added by JMercado 02-27-17 */
	position:relative;
    background-color:#005F9E;  
}

.fsm_heading{
	font-size: 18px;
	color: #053961;
	font-weight: bold;
}

.info{
	background-color: #093355;
	color: #fff;
	padding: 10px;
	margin-top: 20px;
}

.info h5 a{
	color: #fff;
	text-decoration:underline;
}

.fsm_richText{
	width: 46%;
	display:inline-block;
	vertical-align: top;
}

.twoColSeperator{
	width:1px;
	height: 330px;
	border-left:1px solid #B3B3B3;
	display:inline-block;
	margin-left:20px;
	margin-right:20px
}

.fsm_richText img{
	margin-top: 20px;
	width: 100%;
	height: 160px;
}

.custLoginContainer{
	display:inline-block;
	vertical-align: top;
	float: right;
}

.custLoginContainer .liasd {
	background-color: #093355 !important;
	width: 170px !important;
	padding-right: 30px;
	background: none;
}

.custLoginContainer .liasd a {
	color: #ffffff;
	/* added by JS 6-11-2019 */
	font-size: 18px; 
	padding-left: 15px; 
}
.custLoginContainer .liasd a:hover {
	color: #faa200 !important;
}

.mainHeadContainer{
	width:67%;
	display:inline-block;
}

.login {
	/* Start layout CSS */
	width: 126px;
	margin-bottom:2px;
	margin-top:2px;
	padding-left:2px;
	height:29px;
	position: inherit;
	top: 100px;
	left: 100px;
	/* End layout CSS */
	
	overflow:hidden;
	cursor:pointer;
}

.login_box {
	/* Start layout CSS */
	border:1px solid #317082;
	background-color: #fff;
	width: 350px;
	display:none;
	right:0px;
	position:absolute;	
	_position:absolute; /* hack for internet explorer 6 */
	z-index:205;
	padding:12px;
	font-size:15px;
}
.login_box a:link { color: #317082; text-decoration: none; font-size: 14px; }
.login_box a:visited { color: #317082; text-decoration: none; font-size: 14px; }
.login_box a:hover { color: #317082; text-decoration: underline; font-size: 14px; }
.login_box a:active { color: #317082; text-decoration: none; font-size: 14px; padding: 0px 0px 0px 0px; }
.logbullet {
	list-style-image: url(/gps-fleet-tracking/graphics/log_bullet.jpg);
	list-style-position: outside;
	padding: 10px 10px 5px 10px;
	margin: 0px 5px 5px 15px;
}

.logbullet LI UL {
	list-style-image: url(/gps-fleet-tracking/graphics/log_bullet_in.jpg);
	padding: 4px 0px 4px 10px;
	margin: 0px;
}

.logbullet SPAN {
	color: #999;
}
	
.logbullet LI {
	padding: 0px 0px 4px 0px;
	vertical-align: middle;
}

#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:201;
}

#popupContactClose {
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
}

.minus20Margin
{
    margin-top:-20px;
}

.industriesMainContentBorder
{
    margin-top:0px !important;
    height: 66px;
}

.industriesMainContentBorder .mainHeadContainer
{
    margin-top:15px !important;
}

.info span a
{
    color: #fff;
    text-decoration: underline;
}

.info span a:hover
{
    color: #faa200;
}

.content1 .completeWidth{
width: 100% !important;
}

#transport_middle .middle1 a {
    color: #FFFFFF;
}
#transport_middle .middle1 a:hover {
    color: #FCA911;
}

.featuredProductContainer .featuredProductDescriptionContainer a {
    color: #FFFFFF;
}
.featuredProductContainer .featuredProductDescriptionContainer a:hover {
    color: #FCA911;
}
.industrybox a {
    color: #FFFFFF;
}
.industrybox a:hover {
    color: #FCA911;
}

.bigger-banner a {
    color: #FFFFFF;
}
.bigger-banner a:hover {
    color: #FCA911;
}

