﻿

/********************* Added by JMercado 02-27-17 ****************************/

#container_top {
	width:auto;
	height:50px; /*new Height*/
	background-color: #ffffff; /*new bgcolor*/
}

.topNavContainer{
	width: 100%;
	position:relative;
    background-color:#00437B;  
	background: #00437B url(/html/images/brand+s.svg) no-repeat top right;
	background-size: 25%;
	/*background-size: 390px 65px;
	background-position: 80% 20%; */
	height:103px;
	float:right;
	
}

.container, #container_header {
	width: 100%;

}

#container_header {
	border-bottom: 0px solid #B3B3B3;
	padding-top:5px;
	position:relative;
	padding-left:15px;
}

#logo {
    float:none;
    width: 100%;    
    height:63px;
    margin:0px auto;
    padding:10px 0 0 15px;
}
#logo img{
	 border:0px; 
	 width:130px;
	 height:30px;
}

.tag-line {
    float:left;
    margin-top:0px;
    font-size: 18px;
    padding:0px;
    color: #ffffff;
    clear:both;
}

.tag-line .orange {
    color: #FCA911;
}
.tag-line .blue {
    color: #005595;
}

.tag-line .white {
    color: #ffffff;
}

#partners {
	padding-right:15px;
	padding-top:12px;
	color:#f5f7f8;
	padding-left:15px;
	font-size:14px;
	font-size:15px;
	font-weight:bold;
}
.top_links {	
	padding-right:15px;
	padding-top:12px;
	color:#ccd7ed;
	font-size:15px;
	font-weight:bold;
}
.top_links a, #partners a{
	color:#005F9E;
}
.top_links a:hover, #partners a:hover{
	color:#FAA200;
}
.header_icon {
	padding-right:3px;
	padding-top:12px;
	margin-left:10px;
}


.branding-title{position:relative; z-index:1;}
.branding-title
{
    content:"";
    background:url(/html/images/brand+s.svg) no-repeat top center;
    width:390px;
    height:100px;
    position:absolute;
    top:4px;
    left:auto;
    border:1px solid #ff0;
    float:right;
    display:none;
}

.navigationmenu 
{
    /*
	margin-top:17px;
	float:right;
	border:0px solid #fff;
    */
    /*
    margin-top:0px;
    position:absolute;
    bottom:15px;
    right:0px;
    */
}

.franchiseTitle
{
    font-size:22px;
    color:#fff;
    float:left;
    margin: 0px 0px 0px 0px;
    padding:0px;
}

.container_footer 
{
    background-color: #37383A;
	height:250px;
}



.bottom_footer
{
 color: #FFFFFF;
 font-size: 14px;
 background-color: #292A2C;
 width:100%;
 display:block;
 padding:20px 0px;
 overflow:auto;
}

.bottom_footer a{
    color: #FFFFFF;
}

.bottom_footer a:hover{
    color: #FAA200;
}

.footer_menu {
	float:left;
	color:#ccd0d9;
	display:block;
	position:relative;
	margin-top:0px;
	width:auto;
	padding-left:15px;
}


.copyrights {
    display:inline-block;
    margin-top: 0px;
    width:auto;
}

.socialicons-container {
	float:right;
	margin-top:0px;
}
.menuContainer{
	margin-top:40px;}