﻿/********************* Added by JMercado 02-27-17 ****************************/
.footer_heading {
    font-family: 'Titillium Web', sans-serif;
    float: left;
    /* width: 15%; for 5-column quicklinks */
	width: 18%; /* for 4-column quicklinks */
    text-decoration: none;
    color: #FFBE00;
    font-size: 25px;
	/* margin-left: 2%; for 5-column quicklinks */
    margin-left: 3%; /* for 4-column quicklinks */
	margin-right:2%;
	/*border-right: 1px solid #002D5B; removed for luna*/
	height:245px;
	text-rendering: geometricPrecision;
}
.footer_heading:last-child {
	border-right: 0px solid #292A2C;
}
.margl10 {
    /* margin-left: 6% !important; for 5-colunmn quicklinks */
	margin-left: 10% !important; /* for 4-column quicklinks */
}
.footerli {
	/*font-size:15.5px;*/
	font-size:18px;
    line-height: 40px !important;
 }
 .footer_links {
	 width:100% !important;}
	 ul.socialicons{
		 overflow:inherit !important;
		 }
#container_top {
	width: auto;
	/*height: 50px; new Height*/
	background-color: #ffffff; /*new bgcolor*/
	padding: 10px 10px 15px 0px;
}
.topNavContainer {
	width: 100%;
	position: relative;
	/*background-color: #00437B;
	background: #00437B url(/html/images/brand+s.svg) no-repeat top right;
	background-size: 25%;
	background-size: 390px 65px;
	background-position: 80% 20%;
	height: 100%; */
	float: right;
}
.container, #container_header, .container_footer {
	width: 100% !important;
}
#container_header {
	border-bottom: 0px solid #B3B3B3;
	/*padding-top: 5px;*/
	position: relative;
}
#logo {
	height: 40px;
	margin: 0px auto;
	padding: 5px 0 0 25px;
	width:0;
}
#logo img {
	border: 0px;
	width: 130px;
	height: 30px;
}
.tag-line {
	float: left;
	margin-top: 0px;
	font-size: 16px;
	padding: 0px;
	color: #ffffff;
	clear: both;
	padding-left:20px;
	display:none; /*luna 01/14/21*/
}
.tag-line .orange {
	color: #FCA911;
}
.tag-line .blue {
	color: #005595;
}
.tag-line .white {
	color: #ffffff;
	line-height:40px;
}
#partners {
	padding-right: 15px;
	padding-top: 12px;
	color: #f5f7f8;
	padding-left: 15px;
	font-size: 13px;
	font-weight: bold;
}
.top_links {
	padding-right: 15px;
	padding-top: 12px;
	/*color: #666;*/
	color:#363545;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
}
.top_links a, #partners a {
	color: #005F9E;
}
.top_links a:hover, #partners a:hover {
	color: #FAA200;
}
.header_icon {
	padding-right: 3px;
	padding-top: 12px;
	margin-left: 10px;
}
.branding-title {
	position: relative;
	z-index: 1;
}
.branding-title {
	content: "";
	background: url(/html/images/brand+s.svg) no-repeat top center;
	width: 390px;
	height: 100px;
	position: absolute;
	top: 4px;
	left: auto;
	border: 1px solid #ff0;
	float: right;
	display: none;
}
.navigationmenu {
/*
	margin-top:17px;
	float:right;
	border:0px solid #fff;
    */
    /*
    margin-top:0px;
    position:absolute;
    bottom:15px;
    right:0px;
    */
}
.franchiseTitle {
	font-size: 22px;
	color: #fff;
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
.container_footer {
	background-color: #F3F3F7;
	height: 300px;
	font-size:18px;
	margin-top:0px;
	padding: 20px 0px;
}
.container_footer .footer_heading .footer_links a {
    color: #005F9F;
}

.container_footer .footer_heading a {
    color: #005F9F;
}
.bottom_footer {
	/*color: #FFFFFF;*/
	/*background-color: #002D5B;*/
	font-size: 14px;
	color: #005F9F;
	background-color: #fff;
	width: 100%;
	display: block;
	padding: 20px 0px;
	overflow: auto;
}
.bottom_footer a {
	color: #FFFFFF;
}
.bottom_footer a:hover {
	color: #FAA200;
}
.footer_menu {
	float: left;
	/*color: #ccd0d9;*/
	color:#005F9F;
	display: block;
	position: relative;
	margin-top: 0px;
	width: auto;
	padding-left:20px;
}
.copyrights {
	display: inline-block;
	margin-top: 0px;
	width: auto;
}
.socialicons-container {
	float: right;
	margin-top: 0px;
	padding-right:20px;
}
.menuContainer {
	margin-top: 40px;
}


.iframeForm, .sc_iFrameForm{
	width:100%;
	position:relative;
	display:block;
}


/*Overrides for homepage luna 12/20/2020*/


.productsContainer2 div:last-child .productSet3, .productsContainer2 div:last-child .productSet4{
    border-bottom: 1px solid #d0d0d0;
}
.categoryTitles
{
    width: 100% !important;
    text-align: center;
}

.productSet3
{
    width:315px !important;
    height:500px;
    border: 1px solid #d0d0d0;
}

.productSet4 {
    margin-right: 7px;
    width: 235px !important;
    height: 340px;
    padding: 0px !important;
}

.categoryProducts.productSet3.listProdWidth a > img, .categoryProducts_Featured.productSet3.listProdWidth a > img  
{
    border: 0px;
    /*border-bottom: 3px solid #FCA911;*/
    /*height: 180px !important;*/
    height: auto;
}

.listpage2 .paddLeft10 {
    padding-left: 0px !important;
}

.categoryProducts.productSet4 a > img 
{
    width:235px;
    margin-bottom: 8px !important;
    border: 0px solid #000;
    border-bottom: 0px solid #FCA911;
    height: 190px;
    width: 235px;
}

.categoryProducts
{
    text-align: left;
    padding: 0px;
    border: 1px solid #d0d0d0;
}

.listpage2 .categoryTitles
{
    text-align:left;
}

.categoryTitles .productSet3:nth-of-type(3n){
	margin-right: 0px;
}

.full-width-featured-container {
    width: 100%;
    background-color: #005F9E;
    /* padding-bottom: 20px; */
}

productsContainer_featured
{
    margin: 0 auto;
    background-color: transparent;   
}

.categoryProducts_Featured
{
    text-align: center;
    padding: 0px;
    border: none;
    margin-right: 19px;
    margin-bottom: 19px;
    display: inline-block;
    vertical-align: top;
}

.productsContainer_featured .categoryProductTitle
{
    color:#fff;
}

.productsContainer_featured .categoryProductDescription
{
    color:#fff;
}

.categoryProducts_Featured > a img {
    margin-bottom: 8px !important;
    width: 100%;
}

/*Hero quote*/
.full-width-lblue-container 
{
    background-color: #E4F1FD;
    padding:50px;
    overflow: auto;
}

.full-width-dblue-container 
{
    background-color: #009ADA;
    padding:50px;
    overflow: hidden;
}

.heroQuoteItem {
    max-width: 1000px;
    margin: 0 auto;
    /*height: 400px;*/
    color: #fff;

}

.heroQuoteItem a img {
    width: 300px;
    float: left;
    margin-right:50px;
    margin-bottom:20px;
}

.heroText p
{
    line-height:28px;
    font-size: 20px;    
    margin-bottom: 20px;
}

.heroPersonName {
    font-size: 22px;
    font-weight: bold;
}

.heroPersonTitle {
    font-size: 18px;
    font-style:italic;
}

a span.heroButton {
    margin-top: 30px;
    display: inline-block;
    background-color: #297FCA;
    color: #fff;
    padding: 10px 15px;
}


/*Hero Feature 1*/
.full-width-lgrey-container 
{
    background-color: #F3F3F7;
    padding:50px;
    overflow: auto;
}

.heroFeat1Item {
    max-width: 1000px;
    margin: 0 auto;

}

.heroFeat1Item a img {
    width: 50%;
    height: 340px;
    float: right;
    margin-left:50px;
}


.heroFeat1Text {
    font-size: 20px;    
    margin-bottom: 20px;
}

.heroFeat1Title {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 35px;
}

a span.heroFeat1Button {
    margin-top: 30px;
    display: inline-block;
    background-color: #297FCA;
    color: #fff;
    padding: 10px 15px;
}



.carousel-caption
{
    text-shadow:none;
}

.ThreeColTitleHeading
{
    width: 100% !important;
    text-align: center;
    text-transform: uppercase;
    color: #005F9F;
    padding: 20px 0px;
    font-size:35px;
}

.categoryProductDescription3Col
{
    line-height: 25px;
    font-size: 16px;
}

.listcol3_resources .productSet3
{
    height:550px;   
}

.trmbworldwide_item img 
{
    float: left;
    margin-right: 20px;
}

.trmbworldwide_title 
{
    color: #005F9F;
    padding-bottom: 15px;
}
    
.trmbworldwide_item {
    display: inline-block;
    padding: 0 15px 10px 15px;
}

ul.socialicons li a {
    height: 27px;
    width: 32px;
    float: left;
    margin-right: 13px;
}

.bottom_footer .fa {
    color: #005F9F;
}

.categoryMoreLink
{
    margin:0 auto;
    width: 315px !important;
    border: 1px solid #d0d0d0;
    padding: 25px;
    text-align: center;
    
}

.productsContainer2 div:last-child .categoryMoreLink {
    border-bottom: 1px solid #d0d0d0;
}

.categoryMoreLink a, .categoryMoreLink a:link, .categoryMoreLink a:active, .categoryMoreLink a:visited
{
    text-transform:uppercase;
    font-size: 17px;
    color: #005495;
    font-weight: 600;
    
}

.articleItem .tabcontent_img > img, .tabcontent_img a img {
    border-right: none; 
    border: 1px solid #000;    
    height: 120px;
    width: auto;
    margin-left:0px;
}

.articleItem .tabcontent_img
{
    margin-left:0px;
}

span.articleTopicLabel
{
    text-transform:uppercase;
    font-size:10px;
    color:#999;
    font-weight:600;
}

.articleItem div.bizLineContent2 {
    width: 75%;
}

.article_banner_caption {
    font-style: italic;
    font-size: 14px;
    color: #999;
    padding: 3px 0 5px 0;
    background-color: #F5F5F5;
}

.article_content {
    padding: 20px 0;
}

.main_content_article div#container_banner img {
    width: 100% !important;
    height: auto;
}

.categoryTitles > .productSet3:last-child {
    margin-right: 0;
}

.searchIcon
{
    float:right;
    width:32px;
    height:32px;
    background:#fff url(/html/images/searchicon.png) center center no-repeat;
    border:1px solid #fff;
    margin-top:6px;
    border-right:1px solid #eee;
}


.productSet4 img
{
    height:auto !important;
}

.footer_heading>a {
    cursor: default;
}

.main_content_article h3
{
    margin-top: 25px;
    text-align: center;
    display: inline-block;
}