﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FranchiseTitle.ascx.cs" Inherits="Trimble.Presentation.UI.Sublayouts.Trimble.Common.FranchiseTitle" %>
<sc:FieldRenderer runat="server" id="frFranchiseTitle" FieldName="FranchiseTitle" />
