﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GeneralText.ascx.cs" Inherits="Trimble.Presentation.UI.Sublayouts.Trimble.Common.GeneralText" %>
<sc:FieldRenderer runat="server" ID="frGeneralText" FieldName="GeneralText" />
