﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TagLine.ascx.cs" Inherits="Trimble.Presentation.UI.Sublayouts.Trimble.Common.TagLine" %>
<sc:FieldRenderer runat="server" id="frTagLine" FieldName="TagLine" />
