﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Title.ascx.cs" Inherits="Trimble.Presentation.UI.Sublayouts.Trimble.Common.Title" %>
<sc:FieldRenderer runat="server" id="frTitle" FieldName="Title" />
